@charset "UTF-8";
/* line 5, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* @group ----- Generic HTML elements ----- */
/* line 16, ../sass/screen.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 20, ../sass/screen.scss */
em, i {
  font-style: italic;
}

/* line 24, ../sass/screen.scss */
strong, b {
  font-weight: bold;
}

/* line 28, ../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 32, ../sass/screen.scss */
a:link {
  color: #ff6666;
}

/* line 36, ../sass/screen.scss */
a:visited {
  color: #e61919;
}

/* line 40, ../sass/screen.scss */
a:active,
a:hover {
  color: red;
}

/* line 45, ../sass/screen.scss */
h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 49, ../sass/screen.scss */
h1 {
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 0.75em;
}

/* line 55, ../sass/screen.scss */
h2 {
  font-size: 28px;
  line-height: 48px;
  margin-bottom: 0.85714em;
}

/* line 61, ../sass/screen.scss */
h3 {
  font-size: 24px;
  margin-bottom: 1em;
}

/* line 66, ../sass/screen.scss */
h4 {
  font-size: 20px;
  margin-bottom: 1.2em;
}

/* line 71, ../sass/screen.scss */
p {
  margin-bottom: 1.5em;
}

/* line 75, ../sass/screen.scss */
ul {
  padding-left: 24px;
  list-style: disc;
}

/* line 80, ../sass/screen.scss */
html,
body {
  height: 100%;
}

/* line 85, ../sass/screen.scss */
body {
  background-color: #e7e7e7;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding: 0 1.04167%;
}

/* @group ----- Tables ----- */
/* line 95, ../sass/screen.scss */
th {
  font-weight: bold;
}

/* line 99, ../sass/screen.scss */
tr {
  border-color: #d7d7d7;
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: -0.0625em;
}
/* line 103, ../sass/screen.scss */
tr:first-child, tr:only-child {
  border-color: transparent;
}

/* line 108, ../sass/screen.scss */
thead + tbody tr:first-child {
  border-color: #d7d7d7;
}

/* @end */
/* @group ----- Form elements ----- */
/* line 116, ../sass/screen.scss */
input,
textarea,
button,
a.button,
.button {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

/* line 127, ../sass/screen.scss */
input[type="text"],
input[type="password"] {
  height: 2.25em;
  border-color: rgba(0, 0, 0, 0.15);
  border-width: 0.0625em;
  border-style: solid;
  padding: -0.0625em;
  padding: 0.375em 1.04167%;
  margin: 0;
}

/* line 136, ../sass/screen.scss */
::-webkit-input-placeholder {
  font-style: italic;
}

/* line 140, ../sass/screen.scss */
:-moz-placeholder {
  /* Firefox 18- */
  font-style: italic;
}

/* line 144, ../sass/screen.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  font-style: italic;
}

/* line 148, ../sass/screen.scss */
:-ms-input-placeholder {
  font-style: italic;
}

/* line 152, ../sass/screen.scss */
textarea {
  border-color: rgba(0, 0, 0, 0.15);
  border-width: 0.0625em;
  border-style: solid;
  padding: -0.0625em;
  margin: 0;
  display: block;
}

/* line 159, ../sass/screen.scss */
input[type="submit"],
button,
a.button,
.button {
  min-height: 1.875em;
  background-color: #ff6666;
  color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 0;
  padding: 0.375em 10px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  margin: 0 0 0.75em 0;
}
/* line 174, ../sass/screen.scss */
input[type="submit"]:hover,
button:hover,
a.button:hover,
.button:hover {
  background-color: red;
}
/* line 178, ../sass/screen.scss */
input[type="submit"]:active,
button:active,
a.button:active,
.button:active {
  background-color: red;
}

/* line 183, ../sass/screen.scss */
.field {
  float: left;
  width: 100%;
  background-color: #e7e7e7;
  padding: 0.375em;
  position: relative;
  border-color: rgba(0, 0, 0, 0.08);
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: -0.0625em;
}
/* line 192, ../sass/screen.scss */
.field:first-child {
  border-color: transparent;
}

/* line 197, ../sass/screen.scss */
select {
  background-color: #fff;
  border: 1px solid #ccc;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 206, ../sass/screen.scss */
input[type="checkbox"] ~ label.screen-reader-text {
  top: 0;
  left: 0;
  text-indent: -9999px;
  margin: 0;
  width: 2.25em;
  right: 0;
}

/* line 215, ../sass/screen.scss */
input[type="checkbox"] ~ label.screen-reader-text:before {
  float: none;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
}

/* line 223, ../sass/screen.scss */
input[type="checkbox"] ~ label.screen-reader-text:after {
  position: static;
  content: "";
}

/* line 228, ../sass/screen.scss */
input[type="checkbox"] ~ label:before {
  content: "";
  display: block;
  float: right;
  background-color: rgba(0, 0, 0, 0.05);
  height: 36px;
  width: 36px;
  margin: -0.375em;
  text-indent: 0;
}

/* line 239, ../sass/screen.scss */
input:checked ~ label:before {
  content: "\e616";
  font-family: 'icomoon';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  line-height: 36px;
}

/* line 252, ../sass/screen.scss */
input[type="checkbox"]:checked ~ label:before {
  background-color: rgba(0, 0, 0, 0.15);
}

/* line 256, ../sass/screen.scss */
input[type="checkbox"]:checked ~ label {
  background-color: transparent;
}

/* line 260, ../sass/screen.scss */
input:checked ~ label:after {
  background-color: transparent;
}

/* line 264, ../sass/screen.scss */
input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

/* line 269, ../sass/screen.scss */
input[type="checkbox"] ~ label {
  display: inline-block;
  width: -webkit-calc(100% + 0.75em);
  width: calc(100% + 0.75em);
  cursor: pointer;
  z-index: 1;
  margin: -0.375em;
  padding: 0.375em;
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 279, ../sass/screen.scss */
fieldset {
  margin-bottom: 1.5em;
}

/* @end */
/* @end */
/* @group ----- Reusable classes ----- */
/* line 289, ../sass/screen.scss */
.error {
  color: red;
  display: block;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 0.375em 10px;
  margin-top: 0.375em;
}

/* line 299, ../sass/screen.scss */
table .icon-sortable {
  opacity: .4;
  font-size: 12px;
  line-height: 100%;
}

/* @end */
/* @group ----- Header ----- */
/* line 309, ../sass/screen.scss */
header {
  width: 18.75%;
  text-align: left;
  padding: 2.25em 0 1.5em;
  float: left;
}

/* line 316, ../sass/screen.scss */
#current-user {
  display: block;
  margin: 0;
  position: fixed;
  top: 0;
  background-color: #333;
  width: 100%;
  left: 0;
  color: #E7E7E7;
  text-align: right;
  padding: 0.375em 1.04167%;
  z-index: 1000;
}

/* line 330, ../sass/screen.scss */
#current-user p {
  margin: 0;
  display: inline-block;
}
/* line 334, ../sass/screen.scss */
#current-user p:not(:first-of-type):before {
  content: "\2022";
  display: inline-block;
  margin: 0 .5em 0 .25em;
}

/* line 341, ../sass/screen.scss */
.logo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  padding: 0.375em 1.04167%;
}

/* line 349, ../sass/screen.scss */
#search {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin: 1.5em 0;
}

/* line 356, ../sass/screen.scss */
#search input[type="text"] {
  height: 2.25em;
  width: -webkit-calc(100% - 4.5em);
  width: calc(100% - 4.5em);
  float: left;
}

/* line 362, ../sass/screen.scss */
#search button {
  width: 2.25em;
  text-indent: -9999px;
  float: left;
  margin: 0;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  position: relative;
  height: 2.25em;
}
/* line 371, ../sass/screen.scss */
#search button:after {
  content: "\e602";
}
/* line 375, ../sass/screen.scss */
#search button:last-of-type {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0;
  border-radius: 0 3px 3px 0;
}
/* line 379, ../sass/screen.scss */
#search button:last-of-type:after {
  content: "\e614";
}
/* line 384, ../sass/screen.scss */
#search button:after {
  font-family: "icomoon";
  text-indent: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  line-height: 36px;
  text-align: center;
}

/* @end */
/* @group ----- Footer ----- */
/* line 400, ../sass/screen.scss */
footer {
  position: fixed;
  left: 1.04167%;
  bottom: 1.5em;
  width: 18.75%;
}

/* @end */
/* @group ----- Navigation ----- */
/* line 411, ../sass/screen.scss */
nav ul {
  padding-left: 0;
  list-style: none;
}

/* line 416, ../sass/screen.scss */
#primary-nav > ul > li > a:before {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: .5em;
  font-family: "icomoon";
}

/* line 424, ../sass/screen.scss */
#primary-nav a {
  font-family: "Source Sans Pro", sans-serif;
}

/* line 428, ../sass/screen.scss */
nav.pagination form {
  display: inline-block;
  min-width: min-content;
  margin-right: 1em;
}

/* line 434, ../sass/screen.scss */
nav.pagination form * {
  display: inline-block;
  padding: 0;
  text-align: center;
}

/* line 440, ../sass/screen.scss */
nav.pagination form input[type="text"] {
  margin-right: .25em;
}

/* @end */
/* @group ----- Wrappers ----- */
/* line 448, ../sass/screen.scss */
div[role="main"] {
  width: 81.25%;
  margin-left: 19.79167%;
  padding: 3.375em 1.04167% 1.5em;
  background-color: #fff;
  min-height: 100%;
}

/* @end */
/* @group ----- Browse views ----- */
/* line 460, ../sass/screen.scss */
.browse table {
  width: 100%;
  margin-bottom: 0.75em;
}

/* line 465, ../sass/screen.scss */
.browse tr {
  background-color: #f2f2f2;
}

/* line 469, ../sass/screen.scss */
.browse .record-name {
  display: block;
  float: left;
}

/* line 474, ../sass/screen.scss */
.browse td,
.browse th {
  padding: 0.375em 0.5em;
  max-width: 5em;
  position: relative;
  min-width: 1.5em;
}

/* line 482, ../sass/screen.scss */
.browse td,
.browse th,
.browse table a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 490, ../sass/screen.scss */
.browse table a {
  width: 100%;
}

/* line 494, ../sass/screen.scss */
.browse td:nth-of-type(2),
.browse th:nth-of-type(2) {
  max-width: 30%;
}

/* line 499, ../sass/screen.scss */
.browse .add.button,
.browse .batch-edit.button {
  float: left;
  margin-right: .25em;
}

/* line 505, ../sass/screen.scss */
.browse .pagination {
  float: right;
}

/* line 509, ../sass/screen.scss */
.actions {
  display: block;
  float: right;
  width: 7em;
}

/* line 515, ../sass/screen.scss */
.actions,
.actions li {
  display: inline-block;
}

/* line 520, ../sass/screen.scss */
.actions li {
  margin-left: .25em;
}

/* line 524, ../sass/screen.scss */
.actions a {
  opacity: .5;
}

/* line 528, ../sass/screen.scss */
.actions a:hover,
.actions a:active {
  opacity: 1;
}

/* line 533, ../sass/screen.scss */
.item-name {
  max-width: 80%;
}

/* line 537, ../sass/screen.scss */
.item-name a {
  width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* @end */
/* @group ----- Add views ----- */
/* line 548, ../sass/screen.scss */
.add div[role="main"],
.import div[role="main"],
.edit div[role="main"] {
  padding-top: 6em;
}

/* line 554, ../sass/screen.scss */
.section-nav {
  position: fixed;
  top: 2.4375em;
  height: 2.625em;
  left: 20.41667%;
  right: 0;
  z-index: 100;
  border-top: 1px solid #fff;
}
/* line 563, ../sass/screen.scss */
.section-nav:before {
  content: "";
  height: 0.1875em;
  position: fixed;
  top: 4.875em;
  left: 20.41667%;
  right: 0;
  z-index: 100;
  background: #fff;
  border-color: #e7e7e7;
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: -0.0625em;
}
/* line 576, ../sass/screen.scss */
.section-nav a {
  display: block;
  float: left;
  padding: 0.1875em 1em 0.5625em;
  position: relative;
  z-index: 100;
  background-color: #fff;
  border-color: #e7e7e7;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: -0.0625em;
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: -0.0625em;
  margin-left: .25em;
  text-align: center;
}
/* line 591, ../sass/screen.scss */
.section-nav li:first-of-type a {
  margin-left: 1.28205%;
}
/* line 595, ../sass/screen.scss */
.section-nav .active {
  font-weight: bold;
  border-bottom-color: #fff;
}

<<<<<<< HEAD
/* line 579, ../sass/screen.scss */
.section:not(a) {
=======
/* line 601, ../sass/screen.scss */
.section:not(a),
.item-section {
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
  display: none;
}

<<<<<<< HEAD
/* line 584, ../sass/screen.scss */
.section.active {
  display: block;
}

/* line 588, ../sass/screen.scss */
=======
/* line 606, ../sass/screen.scss */
.section.active,
.item-section.active {
  display: block;
}

/* line 611, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
#page-actions,
#save-sidebar {
  background-color: #fff;
  width: 79.58333%;
  position: fixed;
  padding: 0.375em 1.04167% 0.375em 1.04167%;
  z-index: 0;
  top: 2.25em;
  height: 2.625em;
  right: 0;
  text-align: right;
  margin-bottom: 0;
  border-color: #e7e7e7;
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: -0.0625em;
}
<<<<<<< HEAD
/* line 599, ../sass/screen.scss */
=======
/* line 626, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
#page-actions input[type="submit"],
#page-actions button,
#page-actions .button,
#save-sidebar input[type="submit"],
#save-sidebar button,
#save-sidebar .button {
  display: inline-block;
  height: 1.875em;
  padding: 0.1875em 1em;
  line-height: 24px;
  min-height: 0;
  vertical-align: top;
}

<<<<<<< HEAD
/* line 606, ../sass/screen.scss */
=======
/* line 638, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.modal #items-list {
  width: 100%;
}

/* @group ----- Metadata ----- */
<<<<<<< HEAD
/* line 612, ../sass/screen.scss */
=======
/* line 644, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
#add-item .remove.field {
  background-color: #ff9999;
  opacity: .6;
}

<<<<<<< HEAD
/* line 617, ../sass/screen.scss */
=======
/* line 649, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.field.template {
  display: none;
}

<<<<<<< HEAD
/* line 621, ../sass/screen.scss */
=======
/* line 653, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.items.input-option span {
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.375em 10px;
  width: 75%;
  float: left;
}

<<<<<<< HEAD
/* line 629, ../sass/screen.scss */
=======
/* line 661, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.items.input-option a.button {
  margin: 0.44118em 0 0;
  padding: 0.375em 10px;
  min-height: intrinsic;
  font-size: 13.6px;
  display: inline-block;
  clear: left;
}

<<<<<<< HEAD
/* line 638, ../sass/screen.scss */
=======
/* line 670, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.field-meta {
  width: 30%;
  float: left;
  clear: left;
  position: relative;
}
<<<<<<< HEAD
/* line 644, ../sass/screen.scss */
=======
/* line 676, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.field-meta label {
  display: inline-block;
  max-width: 80%;
  line-height: 36px;
}
<<<<<<< HEAD
/* line 650, ../sass/screen.scss */
.field-meta input {
  width: 100%;
}
/* line 654, ../sass/screen.scss */
=======
/* line 682, ../sass/screen.scss */
.field-meta input {
  width: 100%;
}
/* line 686, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.field-meta button {
  float: left;
  margin: 0.375em 0 0;
}
<<<<<<< HEAD
/* line 659, ../sass/screen.scss */
.field-meta .error {
  float: left;
}
/* line 663, ../sass/screen.scss */
=======
/* line 691, ../sass/screen.scss */
.field-meta .error {
  float: left;
}
/* line 695, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.field-meta ul {
  padding: 0;
  list-style-type: none;
}

<<<<<<< HEAD
/* line 669, ../sass/screen.scss */
=======
/* line 701, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.field a.remove.button,
.field a.add-value.button {
  background-color: transparent;
  color: red;
  padding: 0;
  font-size: 24px;
  height: 24px;
  min-height: intrinsic;
  margin: 0;
}

<<<<<<< HEAD
/* line 680, ../sass/screen.scss */
=======
/* line 712, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.unset .value,
.unset .add-value,
.field a.remove.button,
.set-property,
.properties,
.browse-properties {
  display: none;
}

<<<<<<< HEAD
/* line 689, ../sass/screen.scss */
=======
/* line 721, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.unset .set-property,
.unset .properties,
.unset .browse-properties,
.new.field a.remove.button {
  display: block;
}

<<<<<<< HEAD
/* line 697, ../sass/screen.scss */
=======
/* line 729, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.unset .field-meta {
  width: 90%;
}

<<<<<<< HEAD
/* line 702, ../sass/screen.scss */
=======
/* line 734, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.unset label,
.unset .inputs {
  display: none;
}

<<<<<<< HEAD
/* line 707, ../sass/screen.scss */
=======
/* line 739, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.property .set-property {
  position: absolute;
  top: -9999px;
  right: -9999px;
  margin: 0;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

<<<<<<< HEAD
/* line 715, ../sass/screen.scss */
=======
/* line 747, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.property:hover .set-property {
  top: 0;
  right: 0;
}

<<<<<<< HEAD
/* line 721, ../sass/screen.scss */
.properties {
  clear: both;
}
/* line 724, ../sass/screen.scss */
=======
/* line 753, ../sass/screen.scss */
.properties {
  clear: both;
}
/* line 756, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.properties.show {
  position: relative;
  top: auto;
  left: auto;
}
<<<<<<< HEAD
/* line 730, ../sass/screen.scss */
.properties .description {
  display: inline-block;
}
/* line 733, ../sass/screen.scss */
=======
/* line 762, ../sass/screen.scss */
.properties .description {
  display: inline-block;
}
/* line 765, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.properties .description .icon-info {
  display: inline-block;
  margin: 0 0 0 1em;
  opacity: .75;
}
<<<<<<< HEAD
/* line 739, ../sass/screen.scss */
=======
/* line 771, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.properties .description .icon-info + p {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 100%;
  padding: 0.375em 0;
}

<<<<<<< HEAD
/* line 749, ../sass/screen.scss */
=======
/* line 781, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.properties .property:hover .description.show .icon-info + p {
  top: 2.25em;
  left: 0;
  padding-left: 2em;
  background-color: #fff;
  z-index: 1;
}

<<<<<<< HEAD
/* line 759, ../sass/screen.scss */
=======
/* line 791, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.properties > ul li {
  float: left;
  width: 100%;
  position: relative;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
<<<<<<< HEAD
/* line 765, ../sass/screen.scss */
.properties > ul li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
/* line 770, ../sass/screen.scss */
=======
/* line 797, ../sass/screen.scss */
.properties > ul li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
/* line 802, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.properties > ul > li {
  font-weight: bold;
  position: relative;
  margin-top: 0.375em;
  padding: 0.375em 10px;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
<<<<<<< HEAD
/* line 778, ../sass/screen.scss */
.properties > ul > li:last-of-type li:last-of-type {
  margin-bottom: 0em;
}
/* line 782, ../sass/screen.scss */
=======
/* line 810, ../sass/screen.scss */
.properties > ul > li:last-of-type li:last-of-type {
  margin-bottom: 0em;
}
/* line 814, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.properties > ul > li:after, .properties > ul > li > ul > li:after {
  content: "\e613";
  font-family: "icomoon";
  position: absolute;
  right: 10px;
  top: 0.375em;
}
<<<<<<< HEAD
/* line 791, ../sass/screen.scss */
.properties > ul > li > ul > li {
  padding: 0.375em 0;
}
/* line 795, ../sass/screen.scss */
.properties > ul > li > ul > li:before {
  content: "— ";
}
/* line 799, ../sass/screen.scss */
.properties > ul > li > ul > li:after {
  right: 0;
}
/* line 803, ../sass/screen.scss */
.properties > ul > li.show:after {
  content: "\e611" !important;
}
/* line 808, ../sass/screen.scss */
=======
/* line 823, ../sass/screen.scss */
.properties > ul > li > ul > li {
  padding: 0.375em 0;
}
/* line 827, ../sass/screen.scss */
.properties > ul > li > ul > li:before {
  content: "— ";
}
/* line 831, ../sass/screen.scss */
.properties > ul > li > ul > li:after {
  right: 0;
}
/* line 835, ../sass/screen.scss */
.properties > ul > li.show:after {
  content: "\e611" !important;
}
/* line 840, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.properties > ul > li ul, .properties > ul > li ul ul {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
<<<<<<< HEAD
/* line 815, ../sass/screen.scss */
=======
/* line 847, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.properties > ul li.show > ul {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 0.375em;
}
<<<<<<< HEAD
/* line 822, ../sass/screen.scss */
=======
/* line 854, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.properties > ul > li li li {
  font-weight: normal;
  padding: 0.375em 10px 0.375em 2em;
  position: relative;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

<<<<<<< HEAD
/* line 830, ../sass/screen.scss */
=======
/* line 862, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.select-property {
  text-indent: -9999px;
  padding: 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  bottom: 0;
  margin: 0 !important;
  min-height: initial;
}
<<<<<<< HEAD
/* line 842, ../sass/screen.scss */
=======
/* line 874, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.select-property:hover {
  background-color: transparent;
}

<<<<<<< HEAD
/* line 847, ../sass/screen.scss */
=======
/* line 879, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.selected {
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: bold !important;
}

<<<<<<< HEAD
/* line 853, ../sass/screen.scss */
=======
/* line 885, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.field-actions {
  float: right;
  width: 24px;
  text-align: right;
}

<<<<<<< HEAD
/* line 859, ../sass/screen.scss */
=======
/* line 891, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.field-actions button,
.field-actions a.button {
  min-height: 0;
}

<<<<<<< HEAD
/* line 864, ../sass/screen.scss */
=======
/* line 896, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.field-description {
  float: right;
  display: block;
  margin-right: 10px;
  line-height: 36px;
  height: 36px;
}

<<<<<<< HEAD
/* line 873, ../sass/screen.scss */
=======
/* line 905, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.field-description .icon-info:hover + p {
  top: 2.25em;
  left: inherit;
  right: 10px;
  background-color: #333;
  color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  z-index: 1;
  max-width: 100%;
  font-size: 0.875em;
  line-height: 1.71429em;
  padding: 0.375em 5px;
}
<<<<<<< HEAD
/* line 886, ../sass/screen.scss */
=======
/* line 918, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.field-description .icon-info:hover + p:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  top: -0.375em;
  right: 3px;
  font-size: 16px;
  border-left: 0.375em solid transparent;
  border-right: 0.375em solid transparent;
  border-bottom: 0.75em solid #333333;
}

<<<<<<< HEAD
/* line 901, ../sass/screen.scss */
=======
/* line 933, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.field-description p:not(:first-of-type) {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

<<<<<<< HEAD
/* line 907, ../sass/screen.scss */
=======
/* line 939, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.inputs {
  width: 60%;
  float: left;
  position: relative;
}
<<<<<<< HEAD
/* line 912, ../sass/screen.scss */
.inputs:only-child {
  width: 100%;
}
/* line 916, ../sass/screen.scss */
=======
/* line 944, ../sass/screen.scss */
.inputs:only-child {
  width: 100%;
}
/* line 948, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.inputs select,
.inputs textarea,
.inputs input[type="text"],
.inputs input[type="password"] {
  width: 75%;
  min-height: 2.25em;
  padding: 0.375em;
}
<<<<<<< HEAD
/* line 925, ../sass/screen.scss */
.inputs select {
  margin: 0;
}
/* line 929, ../sass/screen.scss */
=======
/* line 957, ../sass/screen.scss */
.inputs select {
  margin: 0;
}
/* line 961, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.inputs .tab {
  display: block;
  float: left;
  width: 36px;
  background-color: #ff6666;
  color: #fff;
  line-height: 36px;
  height: 36px;
  padding: 0 4px;
  border-right: 1px solid #eb4747;
  position: relative;
  cursor: pointer;
}
<<<<<<< HEAD
/* line 942, ../sass/screen.scss */
=======
/* line 974, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.inputs .tab:last-of-type {
  border-right: 0;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0;
  border-radius: 0 3px 3px 0;
}
<<<<<<< HEAD
/* line 947, ../sass/screen.scss */
.inputs .tab:hover {
  background-color: red;
}
/* line 951, ../sass/screen.scss */
=======
/* line 979, ../sass/screen.scss */
.inputs .tab:hover {
  background-color: red;
}
/* line 983, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.inputs .tab.active {
  background-color: #990000;
  color: #fff;
}
<<<<<<< HEAD
/* line 956, ../sass/screen.scss */
=======
/* line 988, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.inputs .tab:hover .screen-reader-text {
  top: 2.25em;
  left: inherit;
  right: 0;
  background-color: #333;
  color: #fff;
  padding: 0 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  white-space: nowrap;
  z-index: 1;
}
<<<<<<< HEAD
/* line 968, ../sass/screen.scss */
=======
/* line 1000, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.inputs .tab:hover .screen-reader-text:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  top: -0.375em;
  right: 6px;
  font-size: 16px;
  border-left: 0.375em solid transparent;
  border-right: 0.375em solid transparent;
  border-bottom: 0.75em solid #333333;
}

<<<<<<< HEAD
/* line 984, ../sass/screen.scss */
=======
/* line 1016, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.value {
  margin-bottom: 1.5em;
  position: relative;
}
<<<<<<< HEAD
/* line 988, ../sass/screen.scss */
.value:last-of-type {
  margin-bottom: 0em;
}
/* line 991, ../sass/screen.scss */
=======
/* line 1020, ../sass/screen.scss */
.value:last-of-type {
  margin-bottom: 0em;
}
/* line 1023, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.value:last-of-type .remove-value {
  margin-bottom: 0em;
}

<<<<<<< HEAD
/* line 997, ../sass/screen.scss */
=======
/* line 1029, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.remove-value {
  display: none;
  clear: both;
  min-height: intrinsic;
  height: 24px;
  padding: 0 10px;
  font-size: 13.6px;
  margin-top: 0.44118em;
}
<<<<<<< HEAD
/* line 1006, ../sass/screen.scss */
=======
/* line 1038, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.remove-value.active {
  display: block;
}

<<<<<<< HEAD
/* line 1011, ../sass/screen.scss */
=======
/* line 1043, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.input-options {
  position: absolute;
  left: 75%;
  top: 0;
  text-align: center;
}

<<<<<<< HEAD
/* line 1018, ../sass/screen.scss */
=======
/* line 1050, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.input-option {
  display: none;
}

<<<<<<< HEAD
/* line 1022, ../sass/screen.scss */
=======
/* line 1054, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.active.input-option {
  display: block;
}

/* @end */
/* @group ----- Files ----- */
<<<<<<< HEAD
/* line 1030, ../sass/screen.scss */
=======
/* line 1062, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.upload-zone {
  background-color: rgba(0, 0, 0, 0.08);
  padding: 1.5em 1.04167%;
  text-align: center;
}

<<<<<<< HEAD
/* line 1036, ../sass/screen.scss */
=======
/* line 1068, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
#item-files button {
  margin: 1.5em 0 0;
}

/* @end */
/* @end */
/* @group ----- Iconfont ----- */
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?-luw49f");
  src: url("fonts/icomoon.eot?#iefix-luw49f") format("embedded-opentype"), url("fonts/icomoon.woff?-luw49f") format("woff"), url("fonts/icomoon.ttf?-luw49f") format("truetype"), url("fonts/icomoon.svg?-luw49f#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
<<<<<<< HEAD
/* line 1057, ../sass/screen.scss */
=======
/* line 1089, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

<<<<<<< HEAD
/* line 1071, ../sass/screen.scss */
=======
/* line 1103, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.icon-search:before {
  content: "\e614";
}

<<<<<<< HEAD
/* line 1075, ../sass/screen.scss */
=======
/* line 1107, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.icon-remove:before,
.icon-close:before {
  content: "\e60e";
}

<<<<<<< HEAD
/* line 1080, ../sass/screen.scss */
=======
/* line 1112, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.icon-type:before {
  content: "\e60c";
}

<<<<<<< HEAD
/* line 1084, ../sass/screen.scss */
=======
/* line 1116, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.icon-link:before {
  content: "\e60d";
}

<<<<<<< HEAD
/* line 1088, ../sass/screen.scss */
=======
/* line 1120, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.icon-edit:before {
  content: "\e600";
}

<<<<<<< HEAD
/* line 1091, ../sass/screen.scss */
=======
/* line 1123, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.icon-view:before {
  content: "\e601";
}

<<<<<<< HEAD
/* line 1094, ../sass/screen.scss */
=======
/* line 1126, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.icon-ellipsis:before {
  content: "\e602";
}

<<<<<<< HEAD
/* line 1098, ../sass/screen.scss */
=======
/* line 1130, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.icon-info:before {
  content: "\e603";
}

<<<<<<< HEAD
/* line 1102, ../sass/screen.scss */
=======
/* line 1134, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.icon-items:before {
  content: "\e604";
}

<<<<<<< HEAD
/* line 1106, ../sass/screen.scss */
=======
/* line 1138, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.icon-users:before {
  content: "\e605";
}

<<<<<<< HEAD
/* line 1110, ../sass/screen.scss */
=======
/* line 1142, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.icon-settings:before {
  content: "\e607";
}

<<<<<<< HEAD
/* line 1114, ../sass/screen.scss */
=======
/* line 1146, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.icon-vocabularies:before {
  content: "\e608";
}

<<<<<<< HEAD
/* line 1118, ../sass/screen.scss */
=======
/* line 1150, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.icon-item-sets:before {
  content: "\e609";
}

<<<<<<< HEAD
/* line 1122, ../sass/screen.scss */
=======
/* line 1154, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.icon-modules:before {
  content: "\e606";
}

<<<<<<< HEAD
/* line 1126, ../sass/screen.scss */
=======
/* line 1158, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.icon-assets:before {
  content: "\e60a";
}

<<<<<<< HEAD
/* line 1130, ../sass/screen.scss */
=======
/* line 1162, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.icon-sites:before {
  content: "\e60b";
}

<<<<<<< HEAD
/* line 1134, ../sass/screen.scss */
=======
/* line 1166, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.icon-add:before {
  content: "\e60f";
}

<<<<<<< HEAD
/* line 1138, ../sass/screen.scss */
=======
/* line 1170, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.icon-arrow-down:before {
  content: "\e611";
}

<<<<<<< HEAD
/* line 1142, ../sass/screen.scss */
=======
/* line 1174, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.icon-arrow-up:before {
  content: "\e612";
}

<<<<<<< HEAD
/* line 1146, ../sass/screen.scss */
=======
/* line 1178, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.icon-arrow-left:before {
  content: "\e610";
}

<<<<<<< HEAD
/* line 1150, ../sass/screen.scss */
=======
/* line 1182, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.icon-arrow-right:before {
  content: "\e613";
}

<<<<<<< HEAD
/* line 1154, ../sass/screen.scss */
=======
/* line 1186, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.icon-upload:before {
  content: "\e615";
}

<<<<<<< HEAD
/* line 1158, ../sass/screen.scss */
=======
/* line 1190, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.icon-check:before {
  content: "\e616";
}

<<<<<<< HEAD
/* line 1162, ../sass/screen.scss */
=======
/* line 1194, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.icon-sortable:before {
  content: "\e617";
}

<<<<<<< HEAD
/* line 1166, ../sass/screen.scss */
=======
/* line 1198, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.icon-double-arrow-right:before {
  content: "\e618";
}

<<<<<<< HEAD
/* line 1170, ../sass/screen.scss */
=======
/* line 1202, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.icon-double-arrow-left:before {
  content: "\e619";
}

<<<<<<< HEAD
/* line 1174, ../sass/screen.scss */
=======
/* line 1206, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* @end */
/* @group ----- Select Item Modal ----- */
<<<<<<< HEAD
/* line 1184, ../sass/screen.scss */
=======
/* line 1216, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
}

<<<<<<< HEAD
/* line 1194, ../sass/screen.scss */
=======
/* line 1226, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.modal {
  display: none;
  background: #eee;
  overflow: auto;
  z-index: 1001;
  position: absolute;
  width: 70%;
  height: 80%;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px;
  border-radius: 3px 3px 0 0;
}
<<<<<<< HEAD
/* line 1204, ../sass/screen.scss */
=======
/* line 1236, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.modal h1 {
  margin-top: 0;
  padding: 0.375em 20px;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}

<<<<<<< HEAD
/* line 1213, ../sass/screen.scss */
=======
/* line 1245, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.modal-header {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1002;
  width: 100%;
  height: 2.25em;
}

<<<<<<< HEAD
/* line 1223, ../sass/screen.scss */
=======
/* line 1255, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.modal-search-nav {
  position: absolute;
  top: 2.25em;
  left: 0;
  width: 100%;
  bottom: 0;
}
<<<<<<< HEAD
/* line 1230, ../sass/screen.scss */
.modal-search-nav + .modal-content {
  top: 5.25em;
}
/* line 1234, ../sass/screen.scss */
=======
/* line 1262, ../sass/screen.scss */
.modal-search-nav + .modal-content {
  top: 5.25em;
}
/* line 1266, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.modal-search-nav .item-search {
  background-color: #fff;
  height: 3em;
  padding: 0.75em 20px;
  border-color: rgba(0, 0, 0, 0.08);
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: 0.3125em;
}
<<<<<<< HEAD
/* line 1242, ../sass/screen.scss */
.modal-search-nav #item-list-search {
  float: left;
}
/* line 1246, ../sass/screen.scss */
=======
/* line 1274, ../sass/screen.scss */
.modal-search-nav #item-list-search {
  float: left;
}
/* line 1278, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.modal-search-nav button.icon-search {
  height: 1.5em;
  width: 1.5em;
  line-height: 24px;
  padding: 0 10px;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0;
  border-radius: 0 3px 3px 0;
  min-height: intrinsic;
  position: absolute;
  top: 0.75em;
  left: 244px;
  z-index: 1003;
  text-indent: -9999px;
}
<<<<<<< HEAD
/* line 1259, ../sass/screen.scss */
=======
/* line 1291, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.modal-search-nav button.icon-search:before {
  text-indent: 0px;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 24px;
  width: 100%;
}
<<<<<<< HEAD
/* line 1269, ../sass/screen.scss */
=======
/* line 1301, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.modal-search-nav .item-search > input[type="text"] {
  width: 14em;
  height: 1.5em;
}
<<<<<<< HEAD
/* line 1274, ../sass/screen.scss */
.modal-search-nav input.page-input {
  height: 1.5em;
}
/* line 1278, ../sass/screen.scss */
=======
/* line 1306, ../sass/screen.scss */
.modal-search-nav input.page-input {
  height: 1.5em;
}
/* line 1310, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.modal-search-nav .more-options {
  height: 3em;
  line-height: 2.25em;
  padding: 0.375em 10px;
  position: absolute;
  top: 0;
  left: 18.5em;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  min-height: intrinsic;
  background-color: #fff;
  text-align: left;
  color: #ff6666;
  z-index: 1005;
  border-color: rgba(0, 0, 0, 0.08);
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: 0.3125em;
}
<<<<<<< HEAD
/* line 1294, ../sass/screen.scss */
=======
/* line 1326, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.modal-search-nav .more-options:hover {
  color: red;
  background-color: #fff;
}
<<<<<<< HEAD
/* line 1299, ../sass/screen.scss */
.modal-search-nav .more-options.collapse {
  border-color: transparent;
}
/* line 1304, ../sass/screen.scss */
=======
/* line 1331, ../sass/screen.scss */
.modal-search-nav .more-options.collapse {
  border-color: transparent;
}
/* line 1336, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.modal-search-nav .expand:after {
  content: "\e613";
  font-family: "icomoon";
  margin-left: 3px;
}
<<<<<<< HEAD
/* line 1310, ../sass/screen.scss */
=======
/* line 1342, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.modal-search-nav .collapse:after {
  content: "\e611";
  font-family: "icomoon";
  margin-left: 3px;
}
<<<<<<< HEAD
/* line 1316, ../sass/screen.scss */
=======
/* line 1348, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.modal-search-nav .collapse + .search-options {
  left: 0;
  top: 3em;
  bottom: 0;
}
<<<<<<< HEAD
/* line 1322, ../sass/screen.scss */
=======
/* line 1354, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.modal-search-nav .search-options {
  position: absolute;
  left: -9999px;
  width: 100%;
  background-color: #fff;
  padding: 1.5em 20px;
  z-index: 1004;
}
<<<<<<< HEAD
/* line 1330, ../sass/screen.scss */
=======
/* line 1362, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.modal-search-nav .search-options label {
  display: inline-block;
  width: 20%;
}
<<<<<<< HEAD
/* line 1335, ../sass/screen.scss */
=======
/* line 1367, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.modal-search-nav .search-options label + * {
  display: inline-block;
  width: 70%;
}
<<<<<<< HEAD
/* line 1340, ../sass/screen.scss */
.modal-search-nav .search-options .field {
  margin-bottom: 0.375em;
}
/* line 1345, ../sass/screen.scss */
=======
/* line 1372, ../sass/screen.scss */
.modal-search-nav .search-options .field {
  margin-bottom: 0.375em;
}
/* line 1377, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.modal-search-nav .pagination {
  position: absolute;
  top: 0;
  right: 0;
  height: 3em;
}
<<<<<<< HEAD
/* line 1351, ../sass/screen.scss */
=======
/* line 1383, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.modal-search-nav .pagination li {
  float: left;
  height: 3em;
  padding: 0.75em 10px;
}
<<<<<<< HEAD
/* line 1357, ../sass/screen.scss */
=======
/* line 1389, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.modal-search-nav .pagination input {
  width: 3em;
  text-align: center;
  color: #333;
  margin: 0 3px;
}

<<<<<<< HEAD
/* line 1366, ../sass/screen.scss */
.search-options {
  clear: left;
}
/* line 1369, ../sass/screen.scss */
=======
/* line 1398, ../sass/screen.scss */
.search-options {
  clear: left;
}
/* line 1401, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.search-options:before {
  content: "";
  display: block;
  position: absolute;
  background-color: #000;
  opacity: 0.3;
  top: -3em;
  left: 0;
  right: 0;
  height: 3em;
  z-index: 1001;
}

<<<<<<< HEAD
/* line 1383, ../sass/screen.scss */
=======
/* line 1415, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.closeBtn {
  font-size: 20px;
  line-height: 24px;
  padding: 0.375em 10px;
  float: right;
}

<<<<<<< HEAD
/* line 1390, ../sass/screen.scss */
=======
/* line 1422, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.modal-content {
  position: absolute;
  top: 2.25em;
  left: 0;
  bottom: 0;
  padding: 0.75em 20px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}
<<<<<<< HEAD
/* line 1400, ../sass/screen.scss */
=======
/* line 1432, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.modal-content .placeholder {
  background-color: #666;
  width: 1.5em;
  height: 1.5em;
  float: left;
}
<<<<<<< HEAD
/* line 1407, ../sass/screen.scss */
=======
/* line 1439, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.modal-content .placeholder,
.modal-content .item-name {
  margin-left: 0.375em;
}
<<<<<<< HEAD
/* line 1412, ../sass/screen.scss */
.modal-content .item-name a {
  width: auto;
}
/* line 1416, ../sass/screen.scss */
=======
/* line 1444, ../sass/screen.scss */
.modal-content .item-name a {
  width: auto;
}
/* line 1448, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.modal-content .item-name,
.modal-content .directions {
  display: inline-block;
  vertical-align: top;
}
<<<<<<< HEAD
/* line 1422, ../sass/screen.scss */
=======
/* line 1454, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.modal-content .directions {
  color: #969696;
  margin-left: 1em;
  font-style: italic;
  text-indent: -9999px;
}
<<<<<<< HEAD
/* line 1429, ../sass/screen.scss */
=======
/* line 1461, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.modal-content .item {
  padding: 0.375em 0;
  border-color: rgba(0, 0, 0, 0.08);
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: 0.3125em;
  position: relative;
}
<<<<<<< HEAD
/* line 1436, ../sass/screen.scss */
=======
/* line 1468, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.modal-content .item .select {
  position: absolute;
  top: 0;
  right: -9999px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  height: 2.25em;
}
<<<<<<< HEAD
/* line 1444, ../sass/screen.scss */
.modal-content .item:hover, .modal-content .item.previewed {
  background-color: rgba(255, 255, 255, 0.4);
}
/* line 1449, ../sass/screen.scss */
.modal-content .item:hover .select, .modal-content .item.previewed .select {
  right: 0px;
}
/* line 1454, ../sass/screen.scss */
.modal-content .item:hover .directions, .modal-content .item.previewed .directions {
  text-indent: 0px;
}
/* line 1459, ../sass/screen.scss */
.modal-content .item.previewed a {
  font-weight: bold;
}
/* line 1464, ../sass/screen.scss */
=======
/* line 1476, ../sass/screen.scss */
.modal-content .item:hover, .modal-content .item.previewed {
  background-color: rgba(255, 255, 255, 0.4);
}
/* line 1481, ../sass/screen.scss */
.modal-content .item:hover .select, .modal-content .item.previewed .select {
  right: 0px;
}
/* line 1486, ../sass/screen.scss */
.modal-content .item:hover .directions, .modal-content .item.previewed .directions {
  text-indent: 0px;
}
/* line 1491, ../sass/screen.scss */
.modal-content .item.previewed a {
  font-weight: bold;
}
/* line 1496, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.modal-content .item-details {
  position: absolute;
  left: -9999px;
}
<<<<<<< HEAD
/* line 1468, ../sass/screen.scss */
=======
/* line 1500, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.modal-content .item-details h1 {
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 0.75em;
  padding: 0;
}
<<<<<<< HEAD
/* line 1475, ../sass/screen.scss */
=======
/* line 1507, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.modal-content .item-details .element {
  margin-bottom: 1.5em;
}

<<<<<<< HEAD
/* line 1481, ../sass/screen.scss */
=======
/* line 1513, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.show-details .modal-content .item-details {
  left: 62.5%;
  right: 0;
  bottom: 0;
  top: 0;
  width: 37.5%;
  overflow-y: scroll;
  background-color: #fff;
  padding: 0.75em 20px;
}

<<<<<<< HEAD
/* line 1492, ../sass/screen.scss */
=======
/* line 1524, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.show-details .modal-content .item-list {
  width: 62.5%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0.75em 20px;
}

/* @end */
/* @group ----- Add Vocabulary ----- */
<<<<<<< HEAD
/* line 1507, ../sass/screen.scss */
=======
/* line 1539, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.vocabs .field .upload-input {
  margin: 0.375em 0 0;
  position: relative;
  overflow: hidden;
  vertical-align: top;
  display: block;
  float: left;
  clear: left;
}

<<<<<<< HEAD
/* line 1517, ../sass/screen.scss */
=======
/* line 1549, ../sass/screen.scss */
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
.vocabs .field .upload-input input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

<<<<<<< HEAD
/* line 1526, ../sass/screen.scss */
.vocab-inputs {
  width: 74.54212%;
}
/* line 1529, ../sass/screen.scss */
.vocab-inputs input[type=text],
.vocab-inputs textarea,
.vocab-inputs select {
=======
/* line 1559, ../sass/screen.scss */
.vocab-inputs input[type=text] {
>>>>>>> c42d504271502e07ff4c10613a34632d53a03c7c
  width: -webkit-calc(100% - 72px);
  width: calc(100% - 72px);
}
/* line 1563, ../sass/screen.scss */
.vocab-inputs .input-options {
  left: -webkit-calc(100% - 72px);
  left: calc(100% - 72px);
}

/* line 1568, ../sass/screen.scss */
.vocabs .upload.input-option span {
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.375em 10px;
  width: -webkit-calc(100% - 72px);
  width: calc(100% - 72px);
  float: left;
}

/* @end */
/* @group ----- Imported Vocabulary ----- */
/* line 1580, ../sass/screen.scss */
.vocabulary ul {
  padding-left: 0;
  list-style: none;
  overflow: hidden;
}

/* line 1586, ../sass/screen.scss */
.vocabulary h2 {
  margin-bottom: 0;
}

/* line 1590, ../sass/screen.scss */
.vocabulary-contents > li {
  font-weight: bold;
}
/* line 1593, ../sass/screen.scss */
.vocabulary-contents > li:first-of-type {
  margin-right: 1.04167%;
}
/* line 1597, ../sass/screen.scss */
.vocabulary-contents > li li {
  font-weight: normal;
  display: inline;
}
/* line 1601, ../sass/screen.scss */
.vocabulary-contents > li li:after {
  content: ", ";
}
/* line 1605, ../sass/screen.scss */
.vocabulary-contents > li li:last-child:after {
  content: "";
}

/* @end */
/* @group ----- Show Vocabulary ----- */
/* line 1615, ../sass/screen.scss */
.vocabs h2 {
  margin-bottom: 0;
}

/* line 1619, ../sass/screen.scss */
.vocabs h3 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0em;
  display: inline-block;
  margin-right: .5em;
}

/* line 1627, ../sass/screen.scss */
.vocabs .owner {
  display: inline-block;
}
/* line 1630, ../sass/screen.scss */
.vocabs .owner:before {
  content: "(";
}
/* line 1634, ../sass/screen.scss */
.vocabs .owner:after {
  content: ")";
}

/* line 1639, ../sass/screen.scss */
.vocabs .original-class,
.vocabs .property-set {
  background-color: rgba(0, 0, 0, 0.08);
  padding: 0.375em;
  margin-bottom: 0.375em;
  overflow: hidden;
  position: relative;
}
/* line 1647, ../sass/screen.scss */
.vocabs .original-class .collapse ~ .properties .property,
.vocabs .property-set .collapse ~ .properties .property {
  position: static;
  left: auto;
}
/* line 1652, ../sass/screen.scss */
.vocabs .original-class .collapse ~ .properties .property,
.vocabs .property-set .collapse ~ .properties .property {
  margin-top: 0.375em;
}
/* line 1656, ../sass/screen.scss */
.vocabs .original-class .properties,
.vocabs .property-set .properties {
  clear: left;
  display: block;
}
/* line 1661, ../sass/screen.scss */
.vocabs .original-class .property,
.vocabs .property-set .property {
  display: inline-block;
  padding: 0 0.375em;
  background-color: rgba(0, 0, 0, 0.08);
  margin-bottom: 0.375em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  cursor: default;
  position: absolute;
  left: -9999px;
}
/* line 1672, ../sass/screen.scss */
.vocabs .original-class .description,
.vocabs .property-set .description {
  position: relative;
}
/* line 1675, ../sass/screen.scss */
.vocabs .original-class .description p,
.vocabs .property-set .description p {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 1683, ../sass/screen.scss */
.vocabs .original-class .field-actions,
.vocabs .property-set .field-actions {
  width: 15%;
}

/* line 1688, ../sass/screen.scss */
.vocabs .property-set {
  margin-left: 2em;
}

/* line 1692, ../sass/screen.scss */
.vocabs .section > h2:first-child {
  position: absolute;
  left: -9999px;
}

/* line 1697, ../sass/screen.scss */
#vocab-properties .property {
  background-color: rgba(0, 0, 0, 0.08);
  margin-bottom: 0.375em;
  padding: 0.375em;
  overflow: hidden;
}

/* line 1704, ../sass/screen.scss */
.vocabs .description p:only-child {
  margin-bottom: 0;
}

/* line 1708, ../sass/screen.scss */
.vocabs .description {
  display: block;
  height: 24px;
  overflow: hidden;
  font-style: italic;
}

/* line 1715, ../sass/screen.scss */
.vocabs.show .section-nav {
  padding-top: 1.5em;
}

/* @end */
/* @group ----- Edit Property Set ----- */
/* line 1723, ../sass/screen.scss */
.property-sets .field:not(.unset) .field-meta label {
  display: block;
  line-height: 36px;
  height: 36px;
  margin-bottom: 0.375em;
}
/* line 1729, ../sass/screen.scss */
.property-sets .field:not(.unset) .field-meta label:first-of-type {
  font-weight: bold;
  display: inline-block;
}

/* line 1735, ../sass/screen.scss */
.property-sets .property-set-meta .field .field-meta label,
.property-sets .property-set-meta .inputs input[type="text"] {
  margin-bottom: 0;
}

/* line 1740, ../sass/screen.scss */
.property-sets .inputs input[type="text"] {
  width: 100%;
  margin-bottom: 0.375em;
}

/* line 1745, ../sass/screen.scss */
.property-sets .properties .inputs {
  margin-top: 2.625em;
}

/* line 1749, ../sass/screen.scss */
.property-sets .original-class {
  background-color: rgba(0, 0, 0, 0.03);
  padding: 0.75em;
  margin-bottom: 1.5em;
}
/* line 1754, ../sass/screen.scss */
.property-sets .original-class h2 {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
}
/* line 1760, ../sass/screen.scss */
.property-sets .original-class p:last-child {
  margin-bottom: 0;
}

/* @end */
