@charset "UTF-8";
/* line 5, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* @group ----- Generic HTML elements ----- */
/* line 16, ../sass/screen.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 20, ../sass/screen.scss */
em, i {
  font-style: italic;
}

/* line 24, ../sass/screen.scss */
strong, b {
  font-weight: bold;
}

/* line 28, ../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 32, ../sass/screen.scss */
a:link {
  color: #ff6666;
}

/* line 36, ../sass/screen.scss */
a:visited {
  color: #e61919;
}

/* line 40, ../sass/screen.scss */
a:active,
a:hover {
  color: red;
}

/* line 45, ../sass/screen.scss */
h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 49, ../sass/screen.scss */
h1 {
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 0.75em;
}

/* line 55, ../sass/screen.scss */
h2 {
  font-size: 28px;
  line-height: 48px;
  margin-bottom: 0.85714em;
}

/* line 61, ../sass/screen.scss */
h3 {
  font-size: 24px;
  margin-bottom: 1em;
}

/* line 66, ../sass/screen.scss */
h4 {
  font-size: 20px;
  margin-bottom: 1.2em;
}

/* line 71, ../sass/screen.scss */
p {
  margin-bottom: 1.5em;
}

/* line 75, ../sass/screen.scss */
ul {
  padding-left: 24px;
  list-style: disc;
}

/* line 80, ../sass/screen.scss */
html,
body {
  height: 100%;
}

/* line 85, ../sass/screen.scss */
body {
  background-color: #e7e7e7;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding: 0 1.04167%;
}

/* @group ----- Tables ----- */
/* line 95, ../sass/screen.scss */
th {
  font-weight: bold;
}

/* line 99, ../sass/screen.scss */
tr {
  border-color: #d7d7d7;
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: -0.0625em;
}
/* line 103, ../sass/screen.scss */
tr:first-child, tr:only-child {
  border-color: transparent;
}

/* line 108, ../sass/screen.scss */
thead + tbody tr:first-child {
  border-color: #d7d7d7;
}

/* @end */
/* @group ----- Form elements ----- */
/* line 116, ../sass/screen.scss */
input,
textarea,
button,
a.button,
.button {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

/* line 127, ../sass/screen.scss */
input[type="text"],
input[type="password"] {
  height: 2.25em;
  border-color: rgba(0, 0, 0, 0.15);
  border-width: 0.0625em;
  border-style: solid;
  padding: -0.0625em;
  padding: 0.375em 1.04167%;
  margin: 0;
}

/* line 136, ../sass/screen.scss */
::-webkit-input-placeholder {
  font-style: italic;
}

/* line 140, ../sass/screen.scss */
:-moz-placeholder {
  /* Firefox 18- */
  font-style: italic;
}

/* line 144, ../sass/screen.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  font-style: italic;
}

/* line 148, ../sass/screen.scss */
:-ms-input-placeholder {
  font-style: italic;
}

/* line 152, ../sass/screen.scss */
textarea {
  border-color: rgba(0, 0, 0, 0.15);
  border-width: 0.0625em;
  border-style: solid;
  padding: -0.0625em;
  margin: 0;
  display: block;
}

/* line 159, ../sass/screen.scss */
input[type="submit"],
button,
a.button,
.button {
  min-height: 1.875em;
  background-color: #ff6666;
  color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 0;
  padding: 0.375em 10px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  margin: 0 0 0.75em 0;
}
/* line 174, ../sass/screen.scss */
input[type="submit"]:hover,
button:hover,
a.button:hover,
.button:hover {
  background-color: red;
}
/* line 178, ../sass/screen.scss */
input[type="submit"]:active,
button:active,
a.button:active,
.button:active {
  background-color: red;
}

/* line 183, ../sass/screen.scss */
.field {
  float: left;
  width: 100%;
  background-color: #e7e7e7;
  padding: 0.375em;
  position: relative;
  border-color: rgba(0, 0, 0, 0.08);
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: -0.0625em;
}
/* line 192, ../sass/screen.scss */
.field:first-child {
  border-color: transparent;
}

/* line 197, ../sass/screen.scss */
select {
  background-color: #fff;
  border: 1px solid #ccc;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 206, ../sass/screen.scss */
input[type="checkbox"] ~ label.screen-reader-text {
  top: 0;
  left: 0;
  text-indent: -9999px;
  margin: 0;
  width: 2.25em;
  right: 0;
}

/* line 215, ../sass/screen.scss */
input[type="checkbox"] ~ label.screen-reader-text:before {
  float: none;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
}

/* line 223, ../sass/screen.scss */
input[type="checkbox"] ~ label.screen-reader-text:after {
  position: static;
  content: "";
}

/* line 228, ../sass/screen.scss */
input[type="checkbox"] ~ label:before {
  content: "";
  display: block;
  float: right;
  background-color: rgba(0, 0, 0, 0.05);
  height: 36px;
  width: 36px;
  margin: -0.375em;
  text-indent: 0;
}

/* line 239, ../sass/screen.scss */
input:checked ~ label:before {
  content: "\e616";
  font-family: 'icomoon';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  line-height: 36px;
}

/* line 252, ../sass/screen.scss */
input[type="checkbox"]:checked ~ label:before {
  background-color: rgba(0, 0, 0, 0.15);
}

/* line 256, ../sass/screen.scss */
input[type="checkbox"]:checked ~ label {
  background-color: transparent;
}

/* line 260, ../sass/screen.scss */
input:checked ~ label:after {
  background-color: transparent;
}

/* line 264, ../sass/screen.scss */
input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

/* line 269, ../sass/screen.scss */
input[type="checkbox"] ~ label {
  display: inline-block;
  width: -webkit-calc(100% + 0.75em);
  width: calc(100% + 0.75em);
  cursor: pointer;
  z-index: 1;
  margin: -0.375em;
  padding: 0.375em;
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 279, ../sass/screen.scss */
fieldset {
  margin-bottom: 1.5em;
}

/* @end */
/* @end */
/* @group ----- Reusable classes ----- */
/* line 289, ../sass/screen.scss */
.error {
  color: red;
  display: block;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 0.375em 10px;
  margin-top: 0.375em;
}

/* line 299, ../sass/screen.scss */
table .icon-sortable {
  opacity: .4;
  font-size: 12px;
  line-height: 100%;
}

/* @end */
/* @group ----- Header ----- */
/* line 309, ../sass/screen.scss */
header {
  width: 18.75%;
  text-align: left;
  padding: 1.5em 0;
  float: left;
}

/* line 316, ../sass/screen.scss */
#current-user {
  display: inline-block;
  margin-right: 1em;
}

/* line 321, ../sass/screen.scss */
#current-user p {
  margin: 0;
  display: inline-block;
}
/* line 325, ../sass/screen.scss */
#current-user p:not(:first-of-type):before {
  content: "\2022";
  display: inline-block;
  margin: 0 .5em 0 .25em;
}

/* line 332, ../sass/screen.scss */
#search {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin: 1.5em 0;
}

/* line 339, ../sass/screen.scss */
#search input[type="text"] {
  height: 2.25em;
  width: -webkit-calc(100% - 4.5em);
  width: calc(100% - 4.5em);
  float: left;
}

/* line 345, ../sass/screen.scss */
#search button {
  width: 2.25em;
  text-indent: -9999px;
  float: left;
  margin: 0;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  position: relative;
  height: 2.25em;
}
/* line 354, ../sass/screen.scss */
#search button:after {
  content: "\e602";
}
/* line 358, ../sass/screen.scss */
#search button:last-of-type {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0;
  border-radius: 0 3px 3px 0;
}
/* line 362, ../sass/screen.scss */
#search button:last-of-type:after {
  content: "\e614";
}
/* line 367, ../sass/screen.scss */
#search button:after {
  font-family: "icomoon";
  text-indent: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  line-height: 36px;
  text-align: center;
}

/* @end */
/* @group ----- Footer ----- */
/* line 383, ../sass/screen.scss */
footer {
  position: fixed;
  left: 1.04167%;
  bottom: 1.5em;
  width: 18.75%;
}

/* @end */
/* @group ----- Navigation ----- */
/* line 394, ../sass/screen.scss */
nav ul {
  padding-left: 0;
  list-style: none;
}

/* line 399, ../sass/screen.scss */
#primary-nav > ul > li > a:before {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: .5em;
  font-family: "icomoon";
}

/* line 407, ../sass/screen.scss */
#primary-nav a {
  font-family: "Source Sans Pro", sans-serif;
}

/* line 411, ../sass/screen.scss */
nav.pagination form {
  display: inline-block;
  min-width: min-content;
  margin-right: 1em;
}

/* line 417, ../sass/screen.scss */
nav.pagination form * {
  display: inline-block;
  padding: 0;
  text-align: center;
}

/* line 423, ../sass/screen.scss */
nav.pagination form input[type="text"] {
  margin-right: .25em;
}

/* @end */
/* @group ----- Wrappers ----- */
/* line 431, ../sass/screen.scss */
div[role="main"] {
  width: 81.25%;
  margin-left: 19.79167%;
  padding: 1.5em 1.04167%;
  background-color: #fff;
  min-height: 100%;
}

/* @end */
/* @group ----- Browse views ----- */
/* line 443, ../sass/screen.scss */
.browse table {
  width: 100%;
  margin-bottom: 0.75em;
}

/* line 448, ../sass/screen.scss */
.browse tr {
  background-color: #f2f2f2;
}

/* line 452, ../sass/screen.scss */
.browse .record-name {
  display: block;
  float: left;
}

/* line 457, ../sass/screen.scss */
.browse td,
.browse th {
  padding: 0.375em 0.5em;
  max-width: 5em;
  position: relative;
  min-width: 1.5em;
}

/* line 465, ../sass/screen.scss */
.browse td,
.browse th,
.browse table a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 473, ../sass/screen.scss */
.browse table a {
  width: 100%;
}

/* line 477, ../sass/screen.scss */
.browse td:nth-of-type(2),
.browse th:nth-of-type(2) {
  max-width: 30%;
}

/* line 482, ../sass/screen.scss */
.browse .add.button,
.browse .batch-edit.button {
  float: left;
  margin-right: .25em;
}

/* line 488, ../sass/screen.scss */
.browse .pagination {
  float: right;
}

/* line 492, ../sass/screen.scss */
.actions {
  display: block;
  float: right;
  width: 7em;
}

/* line 498, ../sass/screen.scss */
.actions,
.actions li {
  display: inline-block;
}

/* line 503, ../sass/screen.scss */
.actions li {
  margin-left: .25em;
}

/* line 507, ../sass/screen.scss */
.actions a {
  opacity: .5;
}

/* line 511, ../sass/screen.scss */
.actions a:hover,
.actions a:active {
  opacity: 1;
}

/* line 516, ../sass/screen.scss */
.item-name {
  max-width: 80%;
}

/* line 520, ../sass/screen.scss */
.item-name a {
  width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* @end */
/* @group ----- Add views ----- */
/* line 531, ../sass/screen.scss */
.section-nav {
  position: fixed;
  border-left: 1px solid #e7e7e7;
  right: 1.04167%;
  top: 9em;
  bottom: 0;
  width: 18.75%;
  border-color: #e7e7e7;
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: -0.0625em;
  z-index: 100;
}
/* line 542, ../sass/screen.scss */
.section-nav a {
  display: block;
  border-color: #e7e7e7;
  padding: 0.75em 6.66667%;
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: 0.6875em;
  position: relative;
  z-index: 100;
}
/* line 551, ../sass/screen.scss */
.section-nav .active {
  font-weight: bold;
}
/* line 554, ../sass/screen.scss */
.section-nav .active:before, .section-nav .active:after {
  content: "";
  display: block;
  position: absolute;
}
/* line 561, ../sass/screen.scss */
.section-nav .active:before {
  top: 0;
  left: -1px;
  height: 100%;
  width: 2px;
  background-color: #fff;
}
/* line 569, ../sass/screen.scss */
.section-nav .active:after {
  left: 0;
  right: 0;
  height: 1px;
  bottom: -1px;
  background-color: #e7e7e7;
}

/* line 579, ../sass/screen.scss */
.section:not(a),
.item-section {
  display: none;
  width: 74.54212%;
}

/* line 585, ../sass/screen.scss */
.section.active,
.item-section.active {
  display: block;
}

/* line 590, ../sass/screen.scss */
#page-actions,
#save-sidebar {
  width: 18.75%;
  position: fixed;
  border-left: 1px solid #e7e7e7;
  top: 0;
  bottom: 0;
  right: 1.04167%;
  padding: 1.5em 0 1.5em 1.04167%;
  z-index: 0;
}
/* line 601, ../sass/screen.scss */
#page-actions input[type="submit"],
#page-actions button,
#page-actions .button,
#save-sidebar input[type="submit"],
#save-sidebar button,
#save-sidebar .button {
  width: 100%;
}

/* line 608, ../sass/screen.scss */
.modal #items-list {
  width: 100%;
}

/* @group ----- Metadata ----- */
/* line 614, ../sass/screen.scss */
#add-item .remove.field {
  background-color: #ff9999;
  opacity: .6;
}

/* line 619, ../sass/screen.scss */
.field.template {
  display: none;
}

/* line 623, ../sass/screen.scss */
.items.input-option span {
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.375em 10px;
  width: 75%;
  float: left;
}

/* line 631, ../sass/screen.scss */
.items.input-option a.button {
  margin: 0.44118em 0 0;
  padding: 0.375em 10px;
  min-height: intrinsic;
  font-size: 13.6px;
  display: inline-block;
  clear: left;
}

/* line 640, ../sass/screen.scss */
.field-meta {
  width: 30%;
  float: left;
  clear: left;
  position: relative;
}
/* line 646, ../sass/screen.scss */
.field-meta label {
  display: inline-block;
  max-width: 80%;
  line-height: 36px;
}
/* line 652, ../sass/screen.scss */
.field-meta input {
  width: 100%;
}
/* line 656, ../sass/screen.scss */
.field-meta button {
  float: left;
  margin: 0.375em 0 0;
}
/* line 661, ../sass/screen.scss */
.field-meta .error {
  float: left;
}
/* line 665, ../sass/screen.scss */
.field-meta ul {
  padding: 0;
  list-style-type: none;
}

/* line 671, ../sass/screen.scss */
.field a.remove.button,
.field a.add-value.button {
  background-color: transparent;
  color: red;
  padding: 0;
  font-size: 24px;
  height: 24px;
  min-height: intrinsic;
  margin: 0;
}

/* line 682, ../sass/screen.scss */
.unset .value,
.unset .add-value,
.field a.remove.button,
.set-property,
.properties,
.browse-properties {
  display: none;
}

/* line 691, ../sass/screen.scss */
.unset .set-property,
.unset .properties,
.unset .browse-properties,
.new.field a.remove.button {
  display: block;
}

/* line 699, ../sass/screen.scss */
.unset .field-meta {
  width: 90%;
}

/* line 704, ../sass/screen.scss */
.unset label,
.unset .inputs {
  display: none;
}

/* line 709, ../sass/screen.scss */
.property .set-property {
  position: absolute;
  top: -9999px;
  right: -9999px;
  margin: 0;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

/* line 717, ../sass/screen.scss */
.property:hover .set-property {
  top: 0;
  right: 0;
}

/* line 723, ../sass/screen.scss */
.properties {
  clear: both;
}
/* line 726, ../sass/screen.scss */
.properties.show {
  position: relative;
  top: auto;
  left: auto;
}
/* line 732, ../sass/screen.scss */
.properties .description {
  display: inline-block;
}
/* line 735, ../sass/screen.scss */
.properties .description .icon-info {
  display: inline-block;
  margin: 0 0 0 1em;
  opacity: .75;
}
/* line 741, ../sass/screen.scss */
.properties .description .icon-info + p {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 100%;
  padding: 0.375em 0;
}

/* line 751, ../sass/screen.scss */
.properties .property:hover .description.show .icon-info + p {
  top: 2.25em;
  left: 0;
  padding-left: 2em;
  background-color: #fff;
  z-index: 1;
}

/* line 761, ../sass/screen.scss */
.properties > ul li {
  float: left;
  width: 100%;
  position: relative;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 767, ../sass/screen.scss */
.properties > ul li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
/* line 772, ../sass/screen.scss */
.properties > ul > li {
  font-weight: bold;
  position: relative;
  margin-top: 0.375em;
  padding: 0.375em 10px;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
/* line 780, ../sass/screen.scss */
.properties > ul > li:last-of-type li:last-of-type {
  margin-bottom: 0em;
}
/* line 784, ../sass/screen.scss */
.properties > ul > li:after, .properties > ul > li > ul > li:after {
  content: "\e613";
  font-family: "icomoon";
  position: absolute;
  right: 10px;
  top: 0.375em;
}
/* line 793, ../sass/screen.scss */
.properties > ul > li > ul > li {
  padding: 0.375em 0;
}
/* line 797, ../sass/screen.scss */
.properties > ul > li > ul > li:before {
  content: "— ";
}
/* line 801, ../sass/screen.scss */
.properties > ul > li > ul > li:after {
  right: 0;
}
/* line 805, ../sass/screen.scss */
.properties > ul > li.show:after {
  content: "\e611" !important;
}
/* line 810, ../sass/screen.scss */
.properties > ul > li ul, .properties > ul > li ul ul {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
/* line 817, ../sass/screen.scss */
.properties > ul li.show > ul {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 0.375em;
}
/* line 824, ../sass/screen.scss */
.properties > ul > li li li {
  font-weight: normal;
  padding: 0.375em 10px 0.375em 2em;
  position: relative;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

/* line 832, ../sass/screen.scss */
.select-property {
  text-indent: -9999px;
  padding: 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  bottom: 0;
  margin: 0 !important;
  min-height: initial;
}
/* line 844, ../sass/screen.scss */
.select-property:hover {
  background-color: transparent;
}

/* line 849, ../sass/screen.scss */
.selected {
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: bold !important;
}

/* line 855, ../sass/screen.scss */
.field-actions {
  float: right;
  width: 24px;
  text-align: right;
}

/* line 861, ../sass/screen.scss */
.field-actions button,
.field-actions a.button {
  min-height: 0;
}

/* line 866, ../sass/screen.scss */
.field-description {
  float: right;
  display: block;
  margin-right: 10px;
  line-height: 36px;
  height: 36px;
}

/* line 875, ../sass/screen.scss */
.field-description .icon-info:hover + p {
  top: 2.25em;
  left: inherit;
  right: 10px;
  background-color: #333;
  color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  z-index: 1;
  max-width: 100%;
  font-size: 0.875em;
  line-height: 1.71429em;
  padding: 0.375em 5px;
}
/* line 888, ../sass/screen.scss */
.field-description .icon-info:hover + p:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  top: -0.375em;
  right: 3px;
  font-size: 16px;
  border-left: 0.375em solid transparent;
  border-right: 0.375em solid transparent;
  border-bottom: 0.75em solid #333333;
}

/* line 903, ../sass/screen.scss */
.field-description p:not(:first-of-type) {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* line 909, ../sass/screen.scss */
.inputs {
  width: 60%;
  float: left;
  position: relative;
}
/* line 914, ../sass/screen.scss */
.inputs:only-child {
  width: 100%;
}
/* line 918, ../sass/screen.scss */
.inputs select,
.inputs textarea,
.inputs input[type="text"],
.inputs input[type="password"] {
  width: 75%;
  min-height: 2.25em;
  padding: 0.375em;
}
/* line 927, ../sass/screen.scss */
.inputs select {
  margin: 0;
}
/* line 931, ../sass/screen.scss */
.inputs .tab {
  display: block;
  float: left;
  width: 36px;
  background-color: #ff6666;
  color: #fff;
  line-height: 36px;
  height: 36px;
  padding: 0 4px;
  border-right: 1px solid #eb4747;
  position: relative;
  cursor: pointer;
}
/* line 944, ../sass/screen.scss */
.inputs .tab:last-of-type {
  border-right: 0;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0;
  border-radius: 0 3px 3px 0;
}
/* line 949, ../sass/screen.scss */
.inputs .tab:hover {
  background-color: red;
}
/* line 953, ../sass/screen.scss */
.inputs .tab.active {
  background-color: #990000;
  color: #fff;
}
/* line 958, ../sass/screen.scss */
.inputs .tab:hover .screen-reader-text {
  top: 2.25em;
  left: inherit;
  right: 0;
  background-color: #333;
  color: #fff;
  padding: 0 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  white-space: nowrap;
  z-index: 1;
}
/* line 970, ../sass/screen.scss */
.inputs .tab:hover .screen-reader-text:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  top: -0.375em;
  right: 6px;
  font-size: 16px;
  border-left: 0.375em solid transparent;
  border-right: 0.375em solid transparent;
  border-bottom: 0.75em solid #333333;
}

/* line 986, ../sass/screen.scss */
.value {
  margin-bottom: 1.5em;
  position: relative;
}
/* line 990, ../sass/screen.scss */
.value:last-of-type {
  margin-bottom: 0em;
}
/* line 993, ../sass/screen.scss */
.value:last-of-type .remove-value {
  margin-bottom: 0em;
}

/* line 999, ../sass/screen.scss */
.remove-value {
  display: none;
  clear: both;
  min-height: intrinsic;
  height: 24px;
  padding: 0 10px;
  font-size: 13.6px;
  margin-top: 0.44118em;
}
/* line 1008, ../sass/screen.scss */
.remove-value.active {
  display: block;
}

/* line 1013, ../sass/screen.scss */
.input-options {
  position: absolute;
  left: 75%;
  top: 0;
  text-align: center;
}

/* line 1020, ../sass/screen.scss */
.input-option {
  display: none;
}

/* line 1024, ../sass/screen.scss */
.active.input-option {
  display: block;
}

/* @end */
/* @group ----- Files ----- */
/* line 1032, ../sass/screen.scss */
.upload-zone {
  background-color: rgba(0, 0, 0, 0.08);
  padding: 1.5em 1.04167%;
  text-align: center;
}

/* line 1038, ../sass/screen.scss */
#item-files button {
  margin: 1.5em 0 0;
}

/* @end */
/* @end */
/* @group ----- Iconfont ----- */
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?-luw49f");
  src: url("fonts/icomoon.eot?#iefix-luw49f") format("embedded-opentype"), url("fonts/icomoon.woff?-luw49f") format("woff"), url("fonts/icomoon.ttf?-luw49f") format("truetype"), url("fonts/icomoon.svg?-luw49f#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 1059, ../sass/screen.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 1073, ../sass/screen.scss */
.icon-search:before {
  content: "\e614";
}

/* line 1077, ../sass/screen.scss */
.icon-remove:before,
.icon-close:before {
  content: "\e60e";
}

/* line 1082, ../sass/screen.scss */
.icon-type:before {
  content: "\e60c";
}

/* line 1086, ../sass/screen.scss */
.icon-link:before {
  content: "\e60d";
}

/* line 1090, ../sass/screen.scss */
.icon-edit:before {
  content: "\e600";
}

/* line 1093, ../sass/screen.scss */
.icon-view:before {
  content: "\e601";
}

/* line 1096, ../sass/screen.scss */
.icon-ellipsis:before {
  content: "\e602";
}

/* line 1100, ../sass/screen.scss */
.icon-info:before {
  content: "\e603";
}

/* line 1104, ../sass/screen.scss */
.icon-items:before {
  content: "\e604";
}

/* line 1108, ../sass/screen.scss */
.icon-users:before {
  content: "\e605";
}

/* line 1112, ../sass/screen.scss */
.icon-settings:before {
  content: "\e607";
}

/* line 1116, ../sass/screen.scss */
.icon-vocabularies:before {
  content: "\e608";
}

/* line 1120, ../sass/screen.scss */
.icon-item-sets:before {
  content: "\e609";
}

/* line 1124, ../sass/screen.scss */
.icon-modules:before {
  content: "\e606";
}

/* line 1128, ../sass/screen.scss */
.icon-assets:before {
  content: "\e60a";
}

/* line 1132, ../sass/screen.scss */
.icon-sites:before {
  content: "\e60b";
}

/* line 1136, ../sass/screen.scss */
.icon-add:before {
  content: "\e60f";
}

/* line 1140, ../sass/screen.scss */
.icon-arrow-down:before {
  content: "\e611";
}

/* line 1144, ../sass/screen.scss */
.icon-arrow-up:before {
  content: "\e612";
}

/* line 1148, ../sass/screen.scss */
.icon-arrow-left:before {
  content: "\e610";
}

/* line 1152, ../sass/screen.scss */
.icon-arrow-right:before {
  content: "\e613";
}

/* line 1156, ../sass/screen.scss */
.icon-upload:before {
  content: "\e615";
}

/* line 1160, ../sass/screen.scss */
.icon-check:before {
  content: "\e616";
}

/* line 1164, ../sass/screen.scss */
.icon-sortable:before {
  content: "\e617";
}

/* line 1168, ../sass/screen.scss */
.icon-double-arrow-right:before {
  content: "\e618";
}

/* line 1172, ../sass/screen.scss */
.icon-double-arrow-left:before {
  content: "\e619";
}

/* line 1176, ../sass/screen.scss */
.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* @end */
/* @group ----- Select Item Modal ----- */
/* line 1186, ../sass/screen.scss */
.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
}

/* line 1196, ../sass/screen.scss */
.modal {
  display: none;
  background: #eee;
  overflow: auto;
  z-index: 1001;
  position: absolute;
  width: 70%;
  height: 80%;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px;
  border-radius: 3px 3px 0 0;
}
/* line 1206, ../sass/screen.scss */
.modal h1 {
  margin-top: 0;
  padding: 0.375em 20px;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}

/* line 1215, ../sass/screen.scss */
.modal-header {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1002;
  width: 100%;
  height: 2.25em;
}

/* line 1225, ../sass/screen.scss */
.modal-search-nav {
  position: absolute;
  top: 2.25em;
  left: 0;
  width: 100%;
  bottom: 0;
}
/* line 1232, ../sass/screen.scss */
.modal-search-nav + .modal-content {
  top: 5.25em;
}
/* line 1236, ../sass/screen.scss */
.modal-search-nav .item-search {
  background-color: #fff;
  height: 3em;
  padding: 0.75em 20px;
  border-color: rgba(0, 0, 0, 0.08);
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: 0.3125em;
}
/* line 1244, ../sass/screen.scss */
.modal-search-nav #item-list-search {
  float: left;
}
/* line 1248, ../sass/screen.scss */
.modal-search-nav button.icon-search {
  height: 1.5em;
  width: 1.5em;
  line-height: 24px;
  padding: 0 10px;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0;
  border-radius: 0 3px 3px 0;
  min-height: intrinsic;
  position: absolute;
  top: 0.75em;
  left: 244px;
  z-index: 1003;
  text-indent: -9999px;
}
/* line 1261, ../sass/screen.scss */
.modal-search-nav button.icon-search:before {
  text-indent: 0px;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 24px;
  width: 100%;
}
/* line 1271, ../sass/screen.scss */
.modal-search-nav .item-search > input[type="text"] {
  width: 14em;
  height: 1.5em;
}
/* line 1276, ../sass/screen.scss */
.modal-search-nav input.page-input {
  height: 1.5em;
}
/* line 1280, ../sass/screen.scss */
.modal-search-nav .more-options {
  height: 3em;
  line-height: 2.25em;
  padding: 0.375em 10px;
  position: absolute;
  top: 0;
  left: 18.5em;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  min-height: intrinsic;
  background-color: #fff;
  text-align: left;
  color: #ff6666;
  z-index: 1005;
  border-color: rgba(0, 0, 0, 0.08);
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: 0.3125em;
}
/* line 1296, ../sass/screen.scss */
.modal-search-nav .more-options:hover {
  color: red;
  background-color: #fff;
}
/* line 1301, ../sass/screen.scss */
.modal-search-nav .more-options.collapse {
  border-color: transparent;
}
/* line 1306, ../sass/screen.scss */
.modal-search-nav .expand:after {
  content: "\e613";
  font-family: "icomoon";
  margin-left: 3px;
}
/* line 1312, ../sass/screen.scss */
.modal-search-nav .collapse:after {
  content: "\e611";
  font-family: "icomoon";
  margin-left: 3px;
}
/* line 1318, ../sass/screen.scss */
.modal-search-nav .collapse + .search-options {
  left: 0;
  top: 3em;
  bottom: 0;
}
/* line 1324, ../sass/screen.scss */
.modal-search-nav .search-options {
  position: absolute;
  left: -9999px;
  width: 100%;
  background-color: #fff;
  padding: 1.5em 20px;
  z-index: 1004;
}
/* line 1332, ../sass/screen.scss */
.modal-search-nav .search-options label {
  display: inline-block;
  width: 20%;
}
/* line 1337, ../sass/screen.scss */
.modal-search-nav .search-options label + * {
  display: inline-block;
  width: 70%;
}
/* line 1342, ../sass/screen.scss */
.modal-search-nav .search-options .field {
  margin-bottom: 0.375em;
}
/* line 1347, ../sass/screen.scss */
.modal-search-nav .pagination {
  position: absolute;
  top: 0;
  right: 0;
  height: 3em;
}
/* line 1353, ../sass/screen.scss */
.modal-search-nav .pagination li {
  float: left;
  height: 3em;
  padding: 0.75em 10px;
}
/* line 1359, ../sass/screen.scss */
.modal-search-nav .pagination input {
  width: 3em;
  text-align: center;
  color: #333;
  margin: 0 3px;
}

/* line 1368, ../sass/screen.scss */
.search-options {
  clear: left;
}
/* line 1371, ../sass/screen.scss */
.search-options:before {
  content: "";
  display: block;
  position: absolute;
  background-color: #000;
  opacity: 0.3;
  top: -3em;
  left: 0;
  right: 0;
  height: 3em;
  z-index: 1001;
}

/* line 1385, ../sass/screen.scss */
.closeBtn {
  font-size: 20px;
  line-height: 24px;
  padding: 0.375em 10px;
  float: right;
}

/* line 1392, ../sass/screen.scss */
.modal-content {
  position: absolute;
  top: 2.25em;
  left: 0;
  bottom: 0;
  padding: 0.75em 20px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}
/* line 1402, ../sass/screen.scss */
.modal-content .placeholder {
  background-color: #666;
  width: 1.5em;
  height: 1.5em;
  float: left;
}
/* line 1409, ../sass/screen.scss */
.modal-content .placeholder,
.modal-content .item-name {
  margin-left: 0.375em;
}
/* line 1414, ../sass/screen.scss */
.modal-content .item-name a {
  width: auto;
}
/* line 1418, ../sass/screen.scss */
.modal-content .item-name,
.modal-content .directions {
  display: inline-block;
  vertical-align: top;
}
/* line 1424, ../sass/screen.scss */
.modal-content .directions {
  color: #969696;
  margin-left: 1em;
  font-style: italic;
  text-indent: -9999px;
}
/* line 1431, ../sass/screen.scss */
.modal-content .item {
  padding: 0.375em 0;
  border-color: rgba(0, 0, 0, 0.08);
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: 0.3125em;
  position: relative;
}
/* line 1438, ../sass/screen.scss */
.modal-content .item .select {
  position: absolute;
  top: 0;
  right: -9999px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  height: 2.25em;
}
/* line 1446, ../sass/screen.scss */
.modal-content .item:hover, .modal-content .item.previewed {
  background-color: rgba(255, 255, 255, 0.4);
}
/* line 1451, ../sass/screen.scss */
.modal-content .item:hover .select, .modal-content .item.previewed .select {
  right: 0px;
}
/* line 1456, ../sass/screen.scss */
.modal-content .item:hover .directions, .modal-content .item.previewed .directions {
  text-indent: 0px;
}
/* line 1461, ../sass/screen.scss */
.modal-content .item.previewed a {
  font-weight: bold;
}
/* line 1466, ../sass/screen.scss */
.modal-content .item-details {
  position: absolute;
  left: -9999px;
}
/* line 1470, ../sass/screen.scss */
.modal-content .item-details h1 {
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 0.75em;
  padding: 0;
}
/* line 1477, ../sass/screen.scss */
.modal-content .item-details .element {
  margin-bottom: 1.5em;
}

/* line 1483, ../sass/screen.scss */
.show-details .modal-content .item-details {
  left: 62.5%;
  right: 0;
  bottom: 0;
  top: 0;
  width: 37.5%;
  overflow-y: scroll;
  background-color: #fff;
  padding: 0.75em 20px;
}

/* line 1494, ../sass/screen.scss */
.show-details .modal-content .item-list {
  width: 62.5%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0.75em 20px;
}

/* @end */
/* @group ----- Add Vocabulary ----- */
/* line 1509, ../sass/screen.scss */
.vocabs .field .upload-input {
  margin: 0.375em 0 0;
  position: relative;
  overflow: hidden;
  vertical-align: top;
  display: block;
  float: left;
  clear: left;
}

/* line 1519, ../sass/screen.scss */
.vocabs .field .upload-input input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 1528, ../sass/screen.scss */
.vocab-inputs {
  width: 74.54212%;
}
/* line 1531, ../sass/screen.scss */
.vocab-inputs input[type=text],
.vocab-inputs textarea,
.vocab-inputs select {
  width: -webkit-calc(100% - 72px);
  width: calc(100% - 72px);
}
/* line 1537, ../sass/screen.scss */
.vocab-inputs .input-options {
  left: -webkit-calc(100% - 72px);
  left: calc(100% - 72px);
}

/* line 1542, ../sass/screen.scss */
.vocabs .upload.input-option span {
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.375em 10px;
  width: -webkit-calc(100% - 72px);
  width: calc(100% - 72px);
  float: left;
}

/* @end */
/* @group ----- Imported Vocabulary ----- */
/* line 1554, ../sass/screen.scss */
.vocabulary ul {
  padding-left: 0;
  list-style: none;
  overflow: hidden;
}

/* line 1560, ../sass/screen.scss */
.vocabulary h2 {
  margin-bottom: 0;
}

/* line 1564, ../sass/screen.scss */
.vocabulary-contents > li {
  font-weight: bold;
}
/* line 1567, ../sass/screen.scss */
.vocabulary-contents > li:first-of-type {
  margin-right: 1.04167%;
}
/* line 1571, ../sass/screen.scss */
.vocabulary-contents > li li {
  font-weight: normal;
  display: inline;
}
/* line 1575, ../sass/screen.scss */
.vocabulary-contents > li li:after {
  content: ", ";
}
/* line 1579, ../sass/screen.scss */
.vocabulary-contents > li li:last-child:after {
  content: "";
}

/* @end */
/* @group ----- Show Vocabulary ----- */
/* line 1589, ../sass/screen.scss */
.vocabs h2 {
  margin-bottom: 0;
}

/* line 1593, ../sass/screen.scss */
.vocabs h3 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0em;
  display: inline-block;
  margin-right: .5em;
}

/* line 1601, ../sass/screen.scss */
.vocabs .owner {
  display: inline-block;
}
/* line 1604, ../sass/screen.scss */
.vocabs .owner:before {
  content: "(";
}
/* line 1608, ../sass/screen.scss */
.vocabs .owner:after {
  content: ")";
}

/* line 1613, ../sass/screen.scss */
.vocabs .original-class,
.vocabs .property-set {
  background-color: rgba(0, 0, 0, 0.08);
  padding: 0.375em;
  margin-bottom: 0.375em;
  overflow: hidden;
  position: relative;
}
/* line 1621, ../sass/screen.scss */
.vocabs .original-class .collapse ~ .properties .property,
.vocabs .property-set .collapse ~ .properties .property {
  position: static;
  left: auto;
}
/* line 1626, ../sass/screen.scss */
.vocabs .original-class .collapse ~ .properties .property,
.vocabs .property-set .collapse ~ .properties .property {
  margin-top: 0.375em;
}
/* line 1630, ../sass/screen.scss */
.vocabs .original-class .properties,
.vocabs .property-set .properties {
  clear: left;
  display: block;
}
/* line 1635, ../sass/screen.scss */
.vocabs .original-class .property,
.vocabs .property-set .property {
  display: inline-block;
  padding: 0 0.375em;
  background-color: rgba(0, 0, 0, 0.08);
  margin-bottom: 0.375em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  cursor: default;
  position: absolute;
  left: -9999px;
}
/* line 1646, ../sass/screen.scss */
.vocabs .original-class .description,
.vocabs .property-set .description {
  position: relative;
}
/* line 1649, ../sass/screen.scss */
.vocabs .original-class .description p,
.vocabs .property-set .description p {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 1657, ../sass/screen.scss */
.vocabs .original-class .field-actions,
.vocabs .property-set .field-actions {
  width: 15%;
}

/* line 1662, ../sass/screen.scss */
.vocabs .property-set {
  margin-left: 2em;
}

/* line 1666, ../sass/screen.scss */
.vocabs .section > h2:first-child {
  position: absolute;
  left: -9999px;
}

/* line 1671, ../sass/screen.scss */
#vocab-properties .property {
  background-color: rgba(0, 0, 0, 0.08);
  margin-bottom: 0.375em;
  padding: 0.375em;
  overflow: hidden;
}

/* line 1678, ../sass/screen.scss */
.vocabs .description p:only-child {
  margin-bottom: 0;
}

/* line 1682, ../sass/screen.scss */
.vocabs .description {
  display: block;
  height: 24px;
  overflow: hidden;
  font-style: italic;
}

/* line 1689, ../sass/screen.scss */
.vocabs.show .section-nav {
  padding-top: 1.5em;
}

/* @end */
/* @group ----- Edit Property Set ----- */
/* line 1697, ../sass/screen.scss */
.property-sets .field:not(.unset) .field-meta label {
  display: block;
  line-height: 36px;
  height: 36px;
  margin-bottom: 0.375em;
}
/* line 1703, ../sass/screen.scss */
.property-sets .field:not(.unset) .field-meta label:first-of-type {
  font-weight: bold;
  display: inline-block;
}

/* line 1709, ../sass/screen.scss */
.property-sets .property-set-meta .field .field-meta label,
.property-sets .property-set-meta .inputs input[type="text"] {
  margin-bottom: 0;
}

/* line 1714, ../sass/screen.scss */
.property-sets .inputs input[type="text"] {
  width: 100%;
  margin-bottom: 0.375em;
}

/* line 1719, ../sass/screen.scss */
.property-sets .properties .inputs {
  margin-top: 2.625em;
}

/* line 1723, ../sass/screen.scss */
.property-sets .original-class {
  background-color: rgba(0, 0, 0, 0.03);
  padding: 0.75em;
  margin-bottom: 1.5em;
}
/* line 1728, ../sass/screen.scss */
.property-sets .original-class h2 {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
}
/* line 1734, ../sass/screen.scss */
.property-sets .original-class p:last-child {
  margin-bottom: 0;
}

/* @end */
