@charset "UTF-8";
/* line 5, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@media screen {
  /* @group ----- Generic HTML elements ----- */
  /* line 3, ../sass/_screen.scss */
  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 7, ../sass/_screen.scss */
  em, i {
    font-style: italic;
  }

  /* line 11, ../sass/_screen.scss */
  strong, b {
    font-weight: bold;
  }

  /* line 15, ../sass/_screen.scss */
  a {
    text-decoration: none;
  }

  /* line 19, ../sass/_screen.scss */
  a:link {
    color: #ff6666;
  }

  /* line 23, ../sass/_screen.scss */
  a:visited {
    color: #e61919;
  }

  /* line 27, ../sass/_screen.scss */
  a:active,
  a:hover {
    color: red;
  }

  /* line 32, ../sass/_screen.scss */
  h3, h4, h5, h6 {
    font-weight: bold;
  }

  /* line 36, ../sass/_screen.scss */
  h1 {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 0.75em;
  }

  /* line 42, ../sass/_screen.scss */
  h2 {
    font-size: 28px;
    line-height: 48px;
    margin-bottom: 0.85714em;
  }

  /* line 48, ../sass/_screen.scss */
  h3 {
    font-size: 24px;
    margin-bottom: 1em;
  }

  /* line 53, ../sass/_screen.scss */
  h4 {
    font-size: 20px;
    margin-bottom: 1.2em;
  }

  /* line 58, ../sass/_screen.scss */
  p {
    margin-bottom: 1.5em;
  }

  /* line 62, ../sass/_screen.scss */
  ul {
    padding-left: 24px;
    list-style: disc;
  }

  /* line 67, ../sass/_screen.scss */
  html,
  body {
    height: 100%;
  }

  /* line 72, ../sass/_screen.scss */
  body {
    background-color: #e7e7e7;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding: 0 1.04167%;
  }

  /* @group ----- Tables ----- */
  /* line 82, ../sass/_screen.scss */
  th {
    font-weight: bold;
  }

  /* line 86, ../sass/_screen.scss */
  tr {
    border-color: #d7d7d7;
    border-top-width: 0.0625em;
    border-top-style: solid;
    padding-top: -0.0625em;
  }
  /* line 90, ../sass/_screen.scss */
  tr:first-child, tr:only-child {
    border-color: transparent;
  }

  /* line 95, ../sass/_screen.scss */
  thead + tbody tr:first-child {
    border-color: #d7d7d7;
  }

  /* @end */
  /* @group ----- Form elements ----- */
  /* line 103, ../sass/_screen.scss */
  input,
  textarea,
  button {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
  }

  /* line 112, ../sass/_screen.scss */
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    height: 2.25em;
    border-color: rgba(0, 0, 0, 0.15);
    border-width: 0.0625em;
    border-style: solid;
    padding: -0.0625em;
    padding: 0.375em 1.04167%;
    margin: 0;
  }

  /* line 124, ../sass/_screen.scss */
  ::-webkit-input-placeholder {
    font-style: italic;
  }

  /* line 128, ../sass/_screen.scss */
  :-moz-placeholder {
    /* Firefox 18- */
    font-style: italic;
  }

  /* line 132, ../sass/_screen.scss */
  ::-moz-placeholder {
    /* Firefox 19+ */
    font-style: italic;
  }

  /* line 136, ../sass/_screen.scss */
  :-ms-input-placeholder {
    font-style: italic;
  }

  /* line 140, ../sass/_screen.scss */
  textarea {
    border-color: rgba(0, 0, 0, 0.15);
    border-width: 0.0625em;
    border-style: solid;
    padding: -0.0625em;
    margin: 0;
    display: block;
  }

  /* line 147, ../sass/_screen.scss */
  input[type="submit"],
  button,
  a.button,
  .button {
    min-height: 1.875em;
    background-color: #ff6666;
    color: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 0;
    padding: 0.375em 10px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    margin: 0 0 0.75em 0;
  }
  /* line 162, ../sass/_screen.scss */
  input[type="submit"]:hover,
  button:hover,
  a.button:hover,
  .button:hover {
    background-color: red;
  }
  /* line 166, ../sass/_screen.scss */
  input[type="submit"]:active,
  button:active,
  a.button:active,
  .button:active {
    background-color: red;
  }

  /* line 171, ../sass/_screen.scss */
  .field {
    float: left;
    width: 100%;
    background-color: #e7e7e7;
    padding: 0.375em;
    position: relative;
    border-color: rgba(0, 0, 0, 0.08);
    border-top-width: 0.0625em;
    border-top-style: solid;
    padding-top: -0.0625em;
  }
  /* line 180, ../sass/_screen.scss */
  .field:first-child {
    border-color: transparent;
  }

  /* line 185, ../sass/_screen.scss */
  select {
    background-color: #fff;
    border: 1px solid #ccc;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }

  /* line 194, ../sass/_screen.scss */
  input[type="checkbox"] ~ label.screen-reader-text {
    top: 0;
    left: 0;
    text-indent: -9999px;
    margin: 0;
    width: 2.25em;
    right: 0;
  }

  /* line 203, ../sass/_screen.scss */
  input[type="checkbox"] ~ label.screen-reader-text:before {
    float: none;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
  }

  /* line 211, ../sass/_screen.scss */
  input[type="checkbox"] ~ label.screen-reader-text:after {
    position: static;
    content: "";
  }

  /* line 216, ../sass/_screen.scss */
  input[type="checkbox"] ~ label:before {
    content: "";
    display: block;
    float: right;
    background-color: rgba(0, 0, 0, 0.05);
    height: 36px;
    width: 36px;
    margin: -0.375em;
    text-indent: 0;
  }

  /* line 227, ../sass/_screen.scss */
  input:checked ~ label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    line-height: 36px;
  }

  /* line 240, ../sass/_screen.scss */
  input[type="checkbox"]:checked ~ label:before {
    background-color: rgba(0, 0, 0, 0.15);
  }

  /* line 244, ../sass/_screen.scss */
  input[type="checkbox"]:checked ~ label {
    background-color: transparent;
  }

  /* line 248, ../sass/_screen.scss */
  input:checked ~ label:after {
    background-color: transparent;
  }

  /* line 252, ../sass/_screen.scss */
  input[type="checkbox"] {
    position: absolute;
    left: -9999px;
  }

  /* line 257, ../sass/_screen.scss */
  input[type="checkbox"] ~ label {
    display: inline-block;
    width: -webkit-calc(100% + 0.75em);
    width: calc(100% + 0.75em);
    cursor: pointer;
    z-index: 1;
    margin: -0.375em;
    padding: 0.375em;
    background-color: rgba(255, 255, 255, 0.5);
  }

  /* line 267, ../sass/_screen.scss */
  fieldset {
    margin-bottom: 1.5em;
  }

  /* @end */
  /* @end */
  /* @group ----- Reusable classes ----- */
  /* line 277, ../sass/_screen.scss */
  div[role="main"] > .messages {
    margin-bottom: 0.75em;
  }
  /* line 280, ../sass/_screen.scss */
  div[role="main"] > .messages li {
    margin: 0 0 0.375em;
  }
  /* line 284, ../sass/_screen.scss */
  div[role="main"] > .messages .error {
    background-color: #ffe5e5;
  }
  /* line 288, ../sass/_screen.scss */
  div[role="main"] > .messages .success {
    background-color: #ccffcc;
  }
  /* line 292, ../sass/_screen.scss */
  div[role="main"] > .messages .warning {
    background-color: #fff6e5;
  }

  /* line 297, ../sass/_screen.scss */
  .messages {
    padding: 0;
    margin: 0;
  }

  /* line 302, ../sass/_screen.scss */
  .error {
    color: red;
  }

  /* line 306, ../sass/_screen.scss */
  .success {
    color: green;
  }

  /* line 310, ../sass/_screen.scss */
  .warning {
    color: orange;
  }

  /* line 314, ../sass/_screen.scss */
  .error,
  .warning,
  .success {
    background-color: rgba(255, 255, 255, 0.5);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 0.375em 10px;
    margin-top: 0.375em;
    display: block;
    width: 100%;
  }

  /* line 325, ../sass/_screen.scss */
  table .icon-sortable {
    opacity: .4;
    font-size: 12px;
    line-height: 100%;
  }

  /* @end */
  /* @group ----- Header ----- */
  /* line 335, ../sass/_screen.scss */
  header {
    width: 18.75%;
    text-align: left;
    padding: 2.25em 0 1.5em;
    float: left;
  }

  /* line 342, ../sass/_screen.scss */
  .skip {
    position: absolute;
    left: -9999px;
  }

  /* line 348, ../sass/_screen.scss */
  .skip:focus {
    position: absolute;
    top: 0;
    left: 45%;
    width: 10%;
    z-index: 1002;
    text-align: center;
    background-color: #fff;
    padding: 0.375em;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0;
    border-radius: 0 0 3px 3px;
    border-color: rgba(0, 0, 0, 0.08);
    border-width: 0.0625em;
    border-style: solid;
    padding: -0.0625em;
  }

  /* line 362, ../sass/_screen.scss */
  #current-user {
    display: block;
    margin: 0;
    position: fixed;
    top: 0;
    background-color: #333;
    width: 100%;
    left: 0;
    color: #E7E7E7;
    text-align: right;
    padding: 0.375em 1.04167%;
    z-index: 1000;
  }

  /* line 376, ../sass/_screen.scss */
  #current-user p {
    margin: 0;
    display: inline-block;
  }
  /* line 380, ../sass/_screen.scss */
  #current-user p:not(:first-of-type):before {
    content: "\2022";
    display: inline-block;
    margin: 0 .5em 0 .25em;
  }

  /* line 387, ../sass/_screen.scss */
  .logo {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    padding: 0.375em 1.04167%;
  }

  /* line 395, ../sass/_screen.scss */
  #search {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin: 1.5em 0;
  }

  /* line 402, ../sass/_screen.scss */
  #search input[type="text"] {
    height: 2.25em;
    width: -webkit-calc(100% - 4.5em);
    width: calc(100% - 4.5em);
    float: left;
  }

  /* line 408, ../sass/_screen.scss */
  #search button {
    width: 2.25em;
    text-indent: -9999px;
    float: left;
    margin: 0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    position: relative;
    height: 2.25em;
  }
  /* line 417, ../sass/_screen.scss */
  #search button:after {
    content: "\f141";
  }
  /* line 421, ../sass/_screen.scss */
  #search button:last-of-type {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0;
    border-radius: 0 3px 3px 0;
  }
  /* line 425, ../sass/_screen.scss */
  #search button:last-of-type:after {
    content: "\f002";
  }
  /* line 430, ../sass/_screen.scss */
  #search button:after {
    font-family: "FontAwesome";
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    line-height: 36px;
    text-align: center;
  }

  /* line 442, ../sass/_screen.scss */
  div[role="main"] > h1:first-of-type {
    background-color: #fff;
    width: 79.58333%;
    font-size: 24px;
    position: fixed;
    padding: 0 1.04167%;
    z-index: 2;
    top: 1.5em;
    height: 2em;
    right: 0;
    margin-bottom: 0;
    border-color: #e7e7e7;
    border-bottom-width: 0.04167em;
    border-bottom-style: solid;
    padding-bottom: -0.04167em;
    text-transform: uppercase;
    font-weight: bold;
  }

  /* @end */
  /* @group ----- Footer ----- */
  /* line 463, ../sass/_screen.scss */
  footer {
    position: fixed;
    left: 1.04167%;
    bottom: 1.5em;
    width: 18.75%;
  }

  /* @end */
  /* @group ----- Navigation ----- */
  /* line 474, ../sass/_screen.scss */
  nav ul {
    padding-left: 0;
    list-style: none;
  }

  /* line 479, ../sass/_screen.scss */
  #menu > ul > li > a:before {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: .5em;
    font-family: "FontAwesome";
  }

  /* line 487, ../sass/_screen.scss */
  #menu a {
    font-family: "Source Sans Pro", sans-serif;
  }

  /* line 491, ../sass/_screen.scss */
  nav.pagination form {
    display: inline-block;
    min-width: min-content;
    margin-right: 1em;
  }

  /* line 497, ../sass/_screen.scss */
  nav.pagination form * {
    display: inline-block;
    padding: 0;
    text-align: center;
  }

  /* line 503, ../sass/_screen.scss */
  nav.pagination form input[type="text"] {
    margin-right: .25em;
  }

  /* line 507, ../sass/_screen.scss */
  #mobile-nav {
    display: none;
  }

  /* @end */
  /* @group ----- Wrappers ----- */
  /* line 515, ../sass/_screen.scss */
  div[role="main"] {
    width: 81.25%;
    margin-left: 19.79167%;
    padding: 6em 1.04167% 1.5em;
    background-color: #fff;
    min-height: 100%;
    overflow: hidden;
  }

  /* @end */
  /* @group ----- Browse views ----- */
  /* line 528, ../sass/_screen.scss */
  .browse table {
    width: 100%;
    margin-bottom: 0.75em;
  }

  /* line 533, ../sass/_screen.scss */
  .browse tr {
    background-color: #f2f2f2;
  }

  /* line 537, ../sass/_screen.scss */
  .browse .record-name {
    display: block;
    float: left;
    max-width: -webkit-calc(100% - 5.5em);
    max-width: calc(100% - 5.5em);
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* line 545, ../sass/_screen.scss */
  .browse td,
  .browse th {
    padding: 0.375em 0.5em;
    position: relative;
    vertical-align: top;
  }

  /* line 552, ../sass/_screen.scss */
  .browse td,
  .browse th,
  .browse table a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  /* line 560, ../sass/_screen.scss */
  .browse td:first-of-type,
  .browse th:first-of-type {
    min-width: 2.25em;
    width: 2.25em;
  }

  /* line 566, ../sass/_screen.scss */
  .browse td:first-of-type:not(:only-of-type),
  .browse th:first-of-type:not(:only-of-type) {
    background-color: #d2d2d2;
    /* For multiline cells. */
  }

  /* line 571, ../sass/_screen.scss */
  .browse .add.button,
  .browse .batch-edit.button {
    float: left;
    margin-right: .25em;
  }

  /* line 577, ../sass/_screen.scss */
  .browse .pagination {
    float: right;
  }

  /* line 581, ../sass/_screen.scss */
  .actions {
    display: block;
    float: right;
  }

  /* line 586, ../sass/_screen.scss */
  .actions,
  .actions li {
    display: inline-block;
  }

  /* line 591, ../sass/_screen.scss */
  .actions li {
    margin-left: .25em;
  }

  /* line 595, ../sass/_screen.scss */
  .actions a {
    opacity: .5;
  }

  /* line 599, ../sass/_screen.scss */
  .actions a:hover,
  .actions a:active {
    opacity: 1;
  }

  /* line 604, ../sass/_screen.scss */
  .item-name {
    max-width: 80%;
  }

  /* line 608, ../sass/_screen.scss */
  .item-name a {
    width: 100%;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  /* line 616, ../sass/_screen.scss */
  th a[class^="sort"] {
    display: block;
    width: 100%;
  }

  /* line 621, ../sass/_screen.scss */
  th a[class="sorted-asc"],
  th a[class="sorted-desc"] {
    border-color: #d2d2d2;
    padding: 0 .5em;
    border-bottom-width: 0.1875em;
    border-bottom-style: solid;
    padding-bottom: 0.1875em;
    margin: 0 0 -0.375em -0.5em;
    width: -webkit-calc(100% + 1em);
    width: calc(100% + 1em);
  }

  /* line 630, ../sass/_screen.scss */
  [class*="sort"]:after,
  [class*="sort"]:before {
    position: absolute;
    font-size: 12px;
    right: .5em;
    top: 0.9375em;
  }

  /* line 638, ../sass/_screen.scss */
  [class*="sort"]:hover:after {
    color: red;
  }

  /* line 642, ../sass/_screen.scss */
  .sortable:after,
  [class*="sort"]:before {
    content: "\f0dc";
    color: #999;
  }

  /* line 648, ../sass/_screen.scss */
  .sorted-asc:hover:after,
  .sorted-desc:after {
    content: "\f0dd";
  }

  /* line 653, ../sass/_screen.scss */
  .sortable:hover:after,
  .sorted-desc:hover:after,
  .sorted-asc:after {
    content: "\f0de";
  }

  /* line 659, ../sass/_screen.scss */
  [class*="sort"]:before {
    z-index: 1;
  }

  /* line 663, ../sass/_screen.scss */
  [class*="sort"]:after {
    z-index: 2;
  }

  /* @end */
  /* @group ----- Add views ----- */
  /* line 671, ../sass/_screen.scss */
  .add div[role="main"],
  .import div[role="main"],
  .edit div[role="main"] {
    padding-top: 6em;
  }

  /* line 677, ../sass/_screen.scss */
  .add legend,
  .edit legend {
    position: absolute;
    left: -9999px;
  }

  /* line 683, ../sass/_screen.scss */
  .section-nav {
    border-top: 1px solid #fff;
    height: 2.625em;
    overflow: hidden;
    *zoom: 1;
    position: relative;
    margin-bottom: 1.5em;
  }
  /* line 690, ../sass/_screen.scss */
  .section-nav:before {
    content: "";
    height: 0.1875em;
    background-color: #fff;
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    z-index: 0;
    background: #fff;
    border-color: #e7e7e7;
    border-top-width: 0.0625em;
    border-top-style: solid;
    padding-top: -0.0625em;
    border-bottom-width: 0.0625em;
    border-bottom-style: solid;
    padding-bottom: -0.0625em;
  }
  /* line 704, ../sass/_screen.scss */
  .section-nav a {
    display: block;
    float: left;
    height: 2.25em;
    line-height: 30px;
    padding: 0.1875em 1em;
    position: relative;
    z-index: 1;
    background-color: #fff;
    border-color: #e7e7e7;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    border-top-width: 0.0625em;
    border-top-style: solid;
    padding-top: -0.0625em;
    border-bottom-width: 0.0625em;
    border-bottom-style: solid;
    padding-bottom: -0.0625em;
    margin-left: .25em;
    text-align: center;
  }
  /* line 721, ../sass/_screen.scss */
  .section-nav .active {
    font-weight: bold;
    border-bottom-color: #fff;
  }

  /* line 727, ../sass/_screen.scss */
  .section:not(a) {
    display: none;
  }

  /* line 731, ../sass/_screen.scss */
  .section.active {
    display: block;
  }

  /* line 735, ../sass/_screen.scss */
  #page-actions,
  #save-sidebar {
    width: 79.58333%;
    position: fixed;
    padding: 0.375em 1.04167% 0.375em 1.04167%;
    z-index: 2;
    top: 2.25em;
    height: 2.625em;
    right: 0;
    text-align: right;
    margin-bottom: 0;
  }
  /* line 747, ../sass/_screen.scss */
  #page-actions input[type="submit"],
  #page-actions button,
  #page-actions .button,
  #save-sidebar input[type="submit"],
  #save-sidebar button,
  #save-sidebar .button {
    display: inline-block;
    height: 2.25em;
    padding: 0.375em 1em;
    min-height: 0;
    vertical-align: top;
  }

  /* line 758, ../sass/_screen.scss */
  .modal #items-list {
    width: 100%;
  }

  /* line 762, ../sass/_screen.scss */
  .add-property.button {
    margin-top: 1.5em;
  }

  /* @group ----- Metadata ----- */
  /* line 768, ../sass/_screen.scss */
  #add-item .remove.field {
    background-color: #ff9999;
    opacity: .6;
  }

  /* line 773, ../sass/_screen.scss */
  .field.template {
    display: none;
  }

  /* line 777, ../sass/_screen.scss */
  .items.input-option span {
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.375em 10px;
    width: 100%;
    float: left;
  }

  /* line 785, ../sass/_screen.scss */
  .items.input-option a.button {
    margin: 0.44118em 0 0;
    padding: 0.375em 10px;
    min-height: intrinsic;
    font-size: 13.6px;
    display: inline-block;
    clear: left;
  }

  /* line 794, ../sass/_screen.scss */
  .field-meta {
    width: 30%;
    float: left;
    clear: left;
    position: relative;
  }
  /* line 800, ../sass/_screen.scss */
  .field-meta label {
    display: inline-block;
    max-width: 80%;
    line-height: 36px;
  }
  /* line 806, ../sass/_screen.scss */
  .field-meta input {
    width: 100%;
  }
  /* line 810, ../sass/_screen.scss */
  .field-meta button {
    float: left;
    margin: 0.375em 0 0;
  }
  /* line 815, ../sass/_screen.scss */
  .field-meta .error {
    float: left;
  }
  /* line 819, ../sass/_screen.scss */
  .field-meta ul {
    padding: 0;
    list-style-type: none;
  }

  /* line 825, ../sass/_screen.scss */
  .field a.remove.button,
  .field a.add-value.button {
    background-color: transparent;
    color: red;
    padding: 0;
    min-height: intrinsic;
    margin: 0;
  }
  /* line 833, ../sass/_screen.scss */
  .field a.remove.button:before,
  .field a.add-value.button:before {
    vertical-align: top;
  }

  /* line 838, ../sass/_screen.scss */
  .unset .value,
  .unset .add-value,
  .unset.new.field a.remove.button,
  .field a.remove.button,
  .set-property,
  .properties,
  .browse-properties {
    display: none;
  }

  /* line 848, ../sass/_screen.scss */
  .unset .set-property,
  .unset .properties,
  .unset .browse-properties,
  .new.field a.remove.button {
    display: block;
  }

  /* line 856, ../sass/_screen.scss */
  .unset .field-meta {
    width: 90%;
  }

  /* line 861, ../sass/_screen.scss */
  .unset label,
  .unset .inputs {
    display: none;
  }

  /* line 866, ../sass/_screen.scss */
  .property .set-property {
    position: absolute;
    top: -9999px;
    right: -9999px;
    margin: 0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
  }

  /* line 874, ../sass/_screen.scss */
  .property:hover .set-property {
    top: 0;
    right: 0;
  }

  /* line 880, ../sass/_screen.scss */
  .properties {
    clear: both;
  }
  /* line 883, ../sass/_screen.scss */
  .properties.show {
    position: relative;
    top: auto;
    left: auto;
  }
  /* line 889, ../sass/_screen.scss */
  .properties .description {
    display: inline-block;
  }
  /* line 892, ../sass/_screen.scss */
  .properties .description .icon-info {
    display: inline-block;
    margin: 0 0 0 1em;
    opacity: .75;
  }
  /* line 898, ../sass/_screen.scss */
  .properties .description .icon-info + p {
    position: absolute;
    top: -9999px;
    left: -9999px;
    width: 100%;
    padding: 0.375em 0;
  }

  /* line 908, ../sass/_screen.scss */
  .properties .property:hover .description.show .icon-info + p {
    top: 2.25em;
    left: 0;
    padding-left: 2em;
    background-color: #fff;
    z-index: 1;
  }

  /* line 918, ../sass/_screen.scss */
  .properties > ul li {
    float: left;
    width: 100%;
    position: relative;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }
  /* line 924, ../sass/_screen.scss */
  .properties > ul li:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  /* line 929, ../sass/_screen.scss */
  .properties > ul > li {
    font-weight: bold;
    position: relative;
    margin-top: 0.375em;
    padding: 0.375em 10px;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  /* line 937, ../sass/_screen.scss */
  .properties > ul > li:last-of-type li:last-of-type {
    margin-bottom: 0em;
  }
  /* line 941, ../sass/_screen.scss */
  .properties > ul > li:after, .properties > ul > li > ul > li:after {
    content: "\f0da";
    font-family: "FontAwesome";
    position: absolute;
    right: 10px;
    top: 0.375em;
  }
  /* line 950, ../sass/_screen.scss */
  .properties > ul > li > ul > li {
    padding: 0.375em 0;
  }
  /* line 954, ../sass/_screen.scss */
  .properties > ul > li > ul > li:before {
    content: "— ";
  }
  /* line 958, ../sass/_screen.scss */
  .properties > ul > li > ul > li:after {
    right: 0;
  }
  /* line 962, ../sass/_screen.scss */
  .properties > ul > li.show:after {
    content: "\f0d7" !important;
  }
  /* line 967, ../sass/_screen.scss */
  .properties > ul > li ul, .properties > ul > li ul ul {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  /* line 974, ../sass/_screen.scss */
  .properties > ul li.show > ul {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 0.375em;
  }
  /* line 981, ../sass/_screen.scss */
  .properties > ul > li li li {
    font-weight: normal;
    padding: 0.375em 10px 0.375em 2em;
    position: relative;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
  }

  /* line 989, ../sass/_screen.scss */
  .select-property {
    text-indent: -9999px;
    padding: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    bottom: 0;
    margin: 0 !important;
    min-height: initial;
  }
  /* line 1001, ../sass/_screen.scss */
  .select-property:hover {
    background-color: transparent;
  }

  /* line 1006, ../sass/_screen.scss */
  .selected {
    background-color: rgba(0, 0, 0, 0.1);
    font-weight: bold !important;
  }

  /* line 1012, ../sass/_screen.scss */
  .field-actions {
    float: right;
    width: 24px;
    text-align: right;
  }

  /* line 1018, ../sass/_screen.scss */
  .field-actions button,
  .field-actions a.button {
    min-height: 0;
  }

  /* line 1023, ../sass/_screen.scss */
  .field-description {
    float: right;
    display: block;
    margin-right: 10px;
    line-height: 36px;
    height: 36px;
  }

  /* line 1032, ../sass/_screen.scss */
  .field-description .icon-info:hover + p {
    top: 2.25em;
    left: inherit;
    right: 10px;
    background-color: #333;
    color: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    z-index: 1;
    max-width: 100%;
    font-size: 0.875em;
    line-height: 1.71429em;
    padding: 0.375em 5px;
  }
  /* line 1045, ../sass/_screen.scss */
  .field-description .icon-info:hover + p:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    top: -0.375em;
    right: 3px;
    font-size: 16px;
    border-left: 0.375em solid transparent;
    border-right: 0.375em solid transparent;
    border-bottom: 0.75em solid #333333;
  }

  /* line 1060, ../sass/_screen.scss */
  .field-description p:not(:first-of-type) {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  /* line 1066, ../sass/_screen.scss */
  .inputs {
    width: 60%;
    float: left;
    position: relative;
  }
  /* line 1071, ../sass/_screen.scss */
  .inputs:only-child {
    width: 100%;
  }
  /* line 1075, ../sass/_screen.scss */
  .inputs select,
  .inputs textarea,
  .inputs input[type="text"],
  .inputs input[type="password"],
  .inputs input[type="email"] {
    width: 100%;
    min-height: 2.25em;
    padding: 0.375em;
  }
  /* line 1085, ../sass/_screen.scss */
  .inputs select {
    margin: 0;
  }
  /* line 1089, ../sass/_screen.scss */
  .inputs .tab {
    display: block;
    float: left;
    width: 36px;
    background-color: #ff6666;
    color: #fff;
    line-height: 36px;
    height: 36px;
    padding: 0 4px;
    border-right: 1px solid #eb4747;
    position: relative;
    cursor: pointer;
  }
  /* line 1102, ../sass/_screen.scss */
  .inputs .tab:last-of-type {
    border-right: 0;
  }
  /* line 1106, ../sass/_screen.scss */
  .inputs .tab:hover {
    background-color: red;
  }
  /* line 1110, ../sass/_screen.scss */
  .inputs .tab.active {
    background-color: #990000;
    color: #fff;
  }
  /* line 1115, ../sass/_screen.scss */
  .inputs .tab:hover .screen-reader-text {
    top: 2.25em;
    left: inherit;
    right: 0;
    background-color: #333;
    color: #fff;
    padding: 0 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
    z-index: 1;
  }
  /* line 1127, ../sass/_screen.scss */
  .inputs .tab:hover .screen-reader-text:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    top: -0.375em;
    right: 6px;
    font-size: 16px;
    border-left: 0.375em solid transparent;
    border-right: 0.375em solid transparent;
    border-bottom: 0.75em solid #333333;
  }

  /* line 1143, ../sass/_screen.scss */
  .value {
    margin-bottom: 1.5em;
    position: relative;
  }
  /* line 1147, ../sass/_screen.scss */
  .value:last-of-type {
    margin-bottom: 0em;
  }
  /* line 1150, ../sass/_screen.scss */
  .value:last-of-type .remove-value {
    margin-bottom: 0em;
  }

  /* line 1156, ../sass/_screen.scss */
  .remove-value {
    display: none;
    clear: both;
    min-height: intrinsic;
    height: 24px;
    padding: 0 10px;
    font-size: 13.6px;
    margin-top: 0.44118em;
  }
  /* line 1165, ../sass/_screen.scss */
  .remove-value.active {
    display: block;
  }

  /* line 1170, ../sass/_screen.scss */
  .input-options {
    text-align: center;
    width: 100%;
    float: left;
    background-color: rgba(0, 0, 0, 0.15);
  }

  /* line 1177, ../sass/_screen.scss */
  .input-option {
    display: none;
  }

  /* line 1181, ../sass/_screen.scss */
  .active.input-option {
    display: block;
  }

  /* @end */
  /* @group ----- Files ----- */
  /* line 1189, ../sass/_screen.scss */
  .upload-zone {
    background-color: rgba(0, 0, 0, 0.08);
    padding: 3em 1.04167% 1.5em 1.04167%;
    text-align: center;
  }
  /* line 1194, ../sass/_screen.scss */
  .upload-zone p {
    margin-bottom: 0em;
  }

  /* line 1199, ../sass/_screen.scss */
  #item-files button {
    margin: 1.5em 0 0;
  }

  /* @end */
  /* @end */
  /* @group ----- Iconfont ----- */
  /* line 1209, ../sass/_screen.scss */
  .external.button:after {
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f08e";
    margin-left: .5em;
  }

  /* @end */
  /* @group ----- Select Item Modal ----- */
  /* line 1227, ../sass/_screen.scss */
  .overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
  }

  /* line 1237, ../sass/_screen.scss */
  .modal {
    display: none;
    background: #eee;
    overflow: auto;
    z-index: 1001;
    position: absolute;
    width: 70%;
    height: 80%;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px;
    border-radius: 3px 3px 0 0;
  }
  /* line 1247, ../sass/_screen.scss */
  .modal h1 {
    margin-top: 0;
    padding: 0.375em 20px;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
  }
  /* line 1255, ../sass/_screen.scss */
  .modal.small {
    width: 30%;
    height: 40%;
  }

  /* line 1261, ../sass/_screen.scss */
  .modal-link.button {
    float: left;
  }

  /* line 1265, ../sass/_screen.scss */
  .modal-header {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1002;
    width: 100%;
    height: 2.25em;
  }

  /* line 1275, ../sass/_screen.scss */
  .modal-search-nav {
    position: absolute;
    top: 2.25em;
    left: 0;
    width: 100%;
    bottom: 0;
  }
  /* line 1282, ../sass/_screen.scss */
  .modal-search-nav + .modal-content {
    top: 5.25em;
  }
  /* line 1286, ../sass/_screen.scss */
  .modal-search-nav .item-search {
    background-color: #fff;
    height: 3em;
    padding: 0.75em 20px;
    border-color: rgba(0, 0, 0, 0.08);
    border-bottom-width: 0.0625em;
    border-bottom-style: solid;
    padding-bottom: 0.3125em;
  }
  /* line 1294, ../sass/_screen.scss */
  .modal-search-nav #item-list-search {
    float: left;
  }
  /* line 1298, ../sass/_screen.scss */
  .modal-search-nav button.o-icon-search {
    height: 1.5em;
    width: 1.5em;
    line-height: 24px;
    padding: 0 10px;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0;
    border-radius: 0 3px 3px 0;
    min-height: intrinsic;
    position: absolute;
    top: 0.75em;
    left: 244px;
    z-index: 1003;
    text-indent: -9999px;
  }
  /* line 1311, ../sass/_screen.scss */
  .modal-search-nav button.o-icon-search:before {
    text-indent: 0px;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 24px;
    width: 100%;
  }
  /* line 1321, ../sass/_screen.scss */
  .modal-search-nav .item-search > input[type="text"] {
    width: 14em;
    height: 1.5em;
  }
  /* line 1326, ../sass/_screen.scss */
  .modal-search-nav input.page-input {
    height: 1.5em;
  }
  /* line 1330, ../sass/_screen.scss */
  .modal-search-nav .more-options {
    height: 3em;
    line-height: 2.25em;
    padding: 0.375em 10px;
    position: absolute;
    top: 0;
    left: 18.5em;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    min-height: intrinsic;
    background-color: #fff;
    text-align: left;
    color: #ff6666;
    z-index: 1005;
    border-color: rgba(0, 0, 0, 0.08);
    border-bottom-width: 0.0625em;
    border-bottom-style: solid;
    padding-bottom: 0.3125em;
  }
  /* line 1346, ../sass/_screen.scss */
  .modal-search-nav .more-options:hover {
    color: red;
    background-color: #fff;
  }
  /* line 1351, ../sass/_screen.scss */
  .modal-search-nav .more-options.collapse {
    border-color: transparent;
  }
  /* line 1356, ../sass/_screen.scss */
  .modal-search-nav .expand:after {
    content: "\f0da";
    font-family: "FontAwesome";
    margin-left: 3px;
  }
  /* line 1362, ../sass/_screen.scss */
  .modal-search-nav .collapse:after {
    content: "\f0d7";
    font-family: "FontAwesome";
    margin-left: 3px;
  }
  /* line 1368, ../sass/_screen.scss */
  .modal-search-nav .collapse + .search-options {
    left: 0;
    top: 3em;
    bottom: 0;
  }
  /* line 1374, ../sass/_screen.scss */
  .modal-search-nav .search-options {
    position: absolute;
    left: -9999px;
    width: 100%;
    background-color: #fff;
    padding: 1.5em 20px;
    z-index: 1004;
  }
  /* line 1382, ../sass/_screen.scss */
  .modal-search-nav .search-options label {
    display: inline-block;
    width: 20%;
  }
  /* line 1387, ../sass/_screen.scss */
  .modal-search-nav .search-options label + * {
    display: inline-block;
    width: 70%;
  }
  /* line 1393, ../sass/_screen.scss */
  .modal-search-nav .pagination {
    position: absolute;
    top: 0;
    right: 20px;
    height: 3em;
  }
  /* line 1399, ../sass/_screen.scss */
  .modal-search-nav .pagination li {
    float: left;
    height: 3em;
    padding: 0.75em 1px;
  }
  /* line 1405, ../sass/_screen.scss */
  .modal-search-nav .pagination li:first-of-type {
    padding-right: 10px;
  }
  /* line 1409, ../sass/_screen.scss */
  .modal-search-nav .pagination input {
    width: 3em;
    text-align: center;
    color: #333;
    margin: 0 3px;
  }
  /* line 1416, ../sass/_screen.scss */
  .modal-search-nav .pagination a.button {
    height: 24px;
    width: 24px;
    padding: 0 5px;
    min-height: 0;
  }

  /* line 1425, ../sass/_screen.scss */
  .search-options {
    clear: left;
  }
  /* line 1428, ../sass/_screen.scss */
  .search-options:before {
    content: "";
    display: block;
    position: absolute;
    background-color: #000;
    opacity: 0.3;
    top: -3em;
    left: 0;
    right: 0;
    height: 3em;
    z-index: 1001;
  }
  /* line 1441, ../sass/_screen.scss */
  .search-options .field:last-of-type {
    margin-bottom: 1.5em;
  }

  /* line 1446, ../sass/_screen.scss */
  .closeBtn {
    font-size: 20px;
    line-height: 24px;
    padding: 0.375em 10px;
    float: right;
  }

  /* line 1453, ../sass/_screen.scss */
  .modal-content {
    position: absolute;
    top: 2.25em;
    left: 0;
    bottom: 0;
    padding: 0.75em 20px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
  }
  /* line 1463, ../sass/_screen.scss */
  .modal-content .placeholder {
    background-color: #666;
    width: 1.5em;
    height: 1.5em;
    float: left;
  }
  /* line 1470, ../sass/_screen.scss */
  .modal-content .placeholder,
  .modal-content .item-name {
    margin-left: 0.375em;
  }
  /* line 1475, ../sass/_screen.scss */
  .modal-content .item-name a {
    width: auto;
  }
  /* line 1479, ../sass/_screen.scss */
  .modal-content .item-name,
  .modal-content .directions {
    display: inline-block;
    vertical-align: top;
  }
  /* line 1485, ../sass/_screen.scss */
  .modal-content .directions {
    color: #969696;
    margin-left: 1em;
    font-style: italic;
    text-indent: -9999px;
  }
  /* line 1492, ../sass/_screen.scss */
  .modal-content .item {
    padding: 0.375em 0;
    border-color: rgba(0, 0, 0, 0.08);
    border-bottom-width: 0.0625em;
    border-bottom-style: solid;
    padding-bottom: 0.3125em;
    position: relative;
  }
  /* line 1499, ../sass/_screen.scss */
  .modal-content .item .select {
    position: absolute;
    top: 0;
    right: -9999px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    height: 2.25em;
  }
  /* line 1507, ../sass/_screen.scss */
  .modal-content .item:hover, .modal-content .item.previewed {
    background-color: rgba(255, 255, 255, 0.4);
  }
  /* line 1512, ../sass/_screen.scss */
  .modal-content .item:hover .select, .modal-content .item.previewed .select {
    right: 0px;
  }
  /* line 1517, ../sass/_screen.scss */
  .modal-content .item:hover .directions, .modal-content .item.previewed .directions {
    text-indent: 0px;
  }
  /* line 1522, ../sass/_screen.scss */
  .modal-content .item.previewed a {
    font-weight: bold;
  }
  /* line 1527, ../sass/_screen.scss */
  .modal-content .item-details {
    position: absolute;
    left: -9999px;
  }
  /* line 1531, ../sass/_screen.scss */
  .modal-content .item-details h1 {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 0.75em;
    padding: 0;
  }
  /* line 1538, ../sass/_screen.scss */
  .modal-content .item-details .element {
    margin-bottom: 1.5em;
  }

  /* line 1544, ../sass/_screen.scss */
  .show-details .modal-content .item-details {
    left: 62.5%;
    right: 0;
    bottom: 0;
    top: 0;
    width: 37.5%;
    overflow-y: scroll;
    background-color: #fff;
    padding: 0.75em 20px;
  }

  /* line 1555, ../sass/_screen.scss */
  .show-details .modal-content .item-list {
    width: 62.5%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0.75em 20px;
  }

  /* @end */
  /* @group ----- Add Vocabulary ----- */
  /* line 1569, ../sass/_screen.scss */
  .vocabs .field .upload-input {
    margin: 0.375em 0 0;
    position: relative;
    overflow: hidden;
    vertical-align: top;
    display: block;
    float: left;
    clear: left;
  }

  /* line 1579, ../sass/_screen.scss */
  .vocabs .field .upload-input input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  /* line 1588, ../sass/_screen.scss */
  .vocabs .upload.input-option span {
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.375em 10px;
    float: left;
    width: 100%;
  }

  /* @end */
  /* @group ----- Imported Vocabulary ----- */
  /* line 1600, ../sass/_screen.scss */
  .vocabulary ul {
    padding-left: 0;
    list-style: none;
    overflow: hidden;
  }

  /* line 1606, ../sass/_screen.scss */
  .vocabulary h2 {
    margin-bottom: 0;
  }

  /* line 1610, ../sass/_screen.scss */
  .vocabulary-contents > li {
    font-weight: bold;
  }
  /* line 1613, ../sass/_screen.scss */
  .vocabulary-contents > li:first-of-type {
    margin-right: 1.04167%;
  }
  /* line 1617, ../sass/_screen.scss */
  .vocabulary-contents > li li {
    font-weight: normal;
    display: inline;
  }
  /* line 1621, ../sass/_screen.scss */
  .vocabulary-contents > li li:after {
    content: ", ";
  }
  /* line 1625, ../sass/_screen.scss */
  .vocabulary-contents > li li:last-child:after {
    content: "";
  }

  /* @end */
  /* @group ----- Show Vocabulary ----- */
  /* line 1635, ../sass/_screen.scss */
  .vocabs h2 {
    margin-bottom: 0;
  }

  /* line 1639, ../sass/_screen.scss */
  .vocabs h3 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0em;
    display: inline-block;
    margin-right: .5em;
  }

  /* line 1647, ../sass/_screen.scss */
  .vocabs .owner {
    display: inline-block;
  }
  /* line 1650, ../sass/_screen.scss */
  .vocabs .owner:before {
    content: "(";
  }
  /* line 1654, ../sass/_screen.scss */
  .vocabs .owner:after {
    content: ")";
  }

  /* line 1659, ../sass/_screen.scss */
  .vocabs .original-class,
  .vocabs .property-set {
    background-color: rgba(0, 0, 0, 0.08);
    padding: 0.375em;
    margin-bottom: 0.375em;
    overflow: hidden;
    position: relative;
  }
  /* line 1667, ../sass/_screen.scss */
  .vocabs .original-class .collapse ~ .properties .property,
  .vocabs .property-set .collapse ~ .properties .property {
    position: static;
    left: auto;
  }
  /* line 1672, ../sass/_screen.scss */
  .vocabs .original-class .collapse ~ .properties .property,
  .vocabs .property-set .collapse ~ .properties .property {
    margin-top: 0.375em;
  }
  /* line 1676, ../sass/_screen.scss */
  .vocabs .original-class .properties,
  .vocabs .property-set .properties {
    clear: left;
    display: block;
  }
  /* line 1681, ../sass/_screen.scss */
  .vocabs .original-class .property,
  .vocabs .property-set .property {
    display: inline-block;
    padding: 0 0.375em;
    background-color: rgba(0, 0, 0, 0.08);
    margin-bottom: 0.375em;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: default;
    position: absolute;
    left: -9999px;
  }
  /* line 1692, ../sass/_screen.scss */
  .vocabs .original-class .description,
  .vocabs .property-set .description {
    position: relative;
  }
  /* line 1695, ../sass/_screen.scss */
  .vocabs .original-class .description p,
  .vocabs .property-set .description p {
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  /* line 1703, ../sass/_screen.scss */
  .vocabs .original-class .field-actions,
  .vocabs .property-set .field-actions {
    width: 15%;
  }

  /* line 1708, ../sass/_screen.scss */
  .vocabs .property-set {
    margin-left: 2em;
  }

  /* line 1712, ../sass/_screen.scss */
  .vocabs .section > h2:first-child {
    position: absolute;
    left: -9999px;
  }

  /* line 1717, ../sass/_screen.scss */
  #vocab-properties .property {
    background-color: rgba(0, 0, 0, 0.08);
    margin-bottom: 0.375em;
    padding: 0.375em;
    overflow: hidden;
  }

  /* line 1724, ../sass/_screen.scss */
  .vocabs .description p:only-child {
    margin-bottom: 0;
  }

  /* line 1728, ../sass/_screen.scss */
  .vocabs .description {
    display: block;
    height: 24px;
    overflow: hidden;
    font-style: italic;
  }

  /* line 1735, ../sass/_screen.scss */
  .vocabs.show .section-nav {
    padding-top: 1.5em;
  }

  /* @end */
  /* @group ----- Edit Property Set ----- */
  /* line 1743, ../sass/_screen.scss */
  .property-sets .field:not(.unset) .field-meta label {
    display: block;
    line-height: 36px;
    height: 36px;
    margin-bottom: 0.375em;
  }
  /* line 1749, ../sass/_screen.scss */
  .property-sets .field:not(.unset) .field-meta label:first-of-type {
    font-weight: bold;
    display: inline-block;
  }

  /* line 1755, ../sass/_screen.scss */
  .property-sets .property-set-meta .field .field-meta label,
  .property-sets .property-set-meta .inputs input[type="text"] {
    margin-bottom: 0;
  }

  /* line 1760, ../sass/_screen.scss */
  .property-sets .inputs input[type="text"] {
    width: 100%;
    margin-bottom: 0.375em;
  }

  /* line 1765, ../sass/_screen.scss */
  .property-sets .properties .inputs {
    margin-top: 2.625em;
  }

  /* line 1769, ../sass/_screen.scss */
  .property-sets .original-class {
    background-color: rgba(0, 0, 0, 0.03);
    padding: 0.75em;
    margin-bottom: 1.5em;
  }
  /* line 1774, ../sass/_screen.scss */
  .property-sets .original-class h2 {
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
  }
  /* line 1780, ../sass/_screen.scss */
  .property-sets .original-class p:last-child {
    margin-bottom: 0;
  }

  /* @end */
  /* @group ----- Minimal Layout ----- */
  /* line 1789, ../sass/_screen.scss */
  body.minimal {
    padding: 0;
    margin: 3em 0;
    width: 50%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }
  /* line 12, ../../../.rvm/gems/ruby-2.0.0-p0/gems/susy-2.1.1/sass/susy/output/support/_clearfix.scss */
  body.minimal::after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 1796, ../sass/_screen.scss */
  body.minimal header {
    background-color: rgba(0, 0, 0, 0.3);
    position: static;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    float: none;
    padding: 1.5em 0;
    border-color: rgba(0, 0, 0, 0.15);
    border-bottom-color: transparent;
    border-width: 0.0625em;
    border-style: solid;
    padding: -0.0625em;
    color: #fff;
  }
  /* line 12, ../../../.rvm/gems/ruby-2.0.0-p0/gems/susy-2.1.1/sass/susy/output/support/_clearfix.scss */
  body.minimal header::after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 1809, ../sass/_screen.scss */
  body.minimal .logo {
    position: static;
    width: auto;
    float: none;
    padding: 0;
    text-align: center;
    font-size: 32px;
    line-height: 48px;
  }
  /* line 1819, ../sass/_screen.scss */
  body.minimal div[role="main"] {
    width: 100%;
    min-height: 0;
    margin: 0;
    padding: 3em 12.5%;
    border-color: rgba(0, 0, 0, 0.15);
    border-top-color: transparent;
    overflow: hidden;
    border-width: 0.0625em;
    border-style: solid;
    padding: -0.0625em;
  }

  /* @end */
  /* @group ----- Install ----- */
  /* line 1836, ../sass/_screen.scss */
  .install label {
    display: inline-block;
    padding: 0.375em 0;
    width: 33.33333%;
  }
  /* line 1842, ../sass/_screen.scss */
  .install input {
    width: -webkit-calc(66.66% - 6px);
    width: calc(66.66% - 6px);
    vertical-align: top;
  }
  /* line 1847, ../sass/_screen.scss */
  .install button[type="submit"] {
    display: block;
    margin: auto;
    clear: both;
  }
  /* line 1853, ../sass/_screen.scss */
  .install .field:last-of-type {
    margin-bottom: 1.5em;
  }

  /* @end */
}
@media screen and (max-width: 980px) {
  /* line 1, ../sass/_tablet.scss */
  body {
    padding: 0 8.33333%;
    height: intrinsic;
  }

  /* @group ----- Header ----- */
  /* line 8, ../sass/_tablet.scss */
  header {
    width: -webkit-calc(100% - 16.66667%);
    width: calc(100% - 16.66667%);
    float: none;
    text-align: center;
    position: fixed;
    top: 0;
    left: 8.33333%;
    padding: 0;
    right: 8.33333%;
    z-index: 1000;
  }
  /* line 19, ../sass/_tablet.scss */
  header .button {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    position: absolute;
    top: 0;
    z-index: 1001;
  }
  /* line 26, ../sass/_tablet.scss */
  header .fa-menu.button {
    left: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.08);
    width: 2.25em;
  }
  /* line 32, ../sass/_tablet.scss */
  header .fa-search.button {
    left: 2.25em;
  }
  /* line 36, ../sass/_tablet.scss */
  header .fa-current-user.button {
    right: 0;
  }

  /* line 41, ../sass/_tablet.scss */
  .logo {
    line-height: 36px;
    padding: 0 16.66667%;
    width: 100%;
    text-align: center;
    display: block;
    background-color: #e7e7e7;
  }

  /* line 50, ../sass/_tablet.scss */
  #current-user,
  #menu,
  #save-sidebar,
  #search,
  footer {
    position: fixed;
    top: -9999px;
    left: -9999px;
    z-index: 1000;
  }

  /* line 61, ../sass/_tablet.scss */
  #menu.active,
  #current-user.active,
  #search.active {
    top: 2.25em;
    left: 8.33333%;
    bottom: 0;
    right: 8.33333%;
    background-color: #fff;
    width: intrinsic;
    margin: 0;
  }

  /* @end */
  /* @group ----- Global content ----- */
  /* line 77, ../sass/_tablet.scss */
  div[role="main"] {
    margin: 2.25em 0 0 0;
    width: 100%;
    min-height: -webkit-calc(100% - 4.5em);
    min-height: calc(100% - 4.5em);
    position: relative;
    padding-top: 3.75em;
  }
  /* line 84, ../sass/_tablet.scss */
  div[role="main"] > h1:first-of-type {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  /* @end */
  /* @group ----- Navigation ----- */
  /* line 99, ../sass/_tablet.scss */
  #menu {
    text-align: left;
  }

  /* line 103, ../sass/_tablet.scss */
  #menu a {
    display: block;
    padding: 0.75em 1.38889%;
    border-color: rgba(0, 0, 0, 0.08);
    border-bottom-width: 0.0625em;
    border-bottom-style: solid;
    padding-bottom: 0.6875em;
    background-color: #fff;
  }

  /* line 111, ../sass/_tablet.scss */
  #mobile-nav {
    display: block;
  }

  /* line 115, ../sass/_tablet.scss */
  #mobile-nav a.active {
    background-color: #990000;
  }

  /* line 119, ../sass/_tablet.scss */
  #page-actions {
    position: static;
    text-align: left;
    padding: 0;
    width: 100%;
    border-color: rgba(0, 0, 0, 0.08);
    border-bottom-width: 0.0625em;
    border-bottom-style: solid;
    padding-bottom: -0.0625em;
    height: auto;
    margin-bottom: 0.75em;
  }

  /* line 130, ../sass/_tablet.scss */
  .pagination {
    width: 100%;
  }

  /* @end */
  /* @group ----- Search ----- */
  /* line 138, ../sass/_tablet.scss */
  #search-form {
    margin: 3em 4.16667%;
  }

  /* @end */
  /* @group ----- Browse views ----- */
  /* line 146, ../sass/_tablet.scss */
  .batch-edit.button {
    margin: 0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    position: relative;
    z-index: 1;
  }

  /* line 153, ../sass/_tablet.scss */
  .browse table {
    position: relative;
  }

  /* line 157, ../sass/_tablet.scss */
  .browse .batch-edit + .mobile-container:before {
    content: "";
    height: 2.25em;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    position: absolute;
    margin-top: -2.25em;
    left: 1.04167%;
    right: 1.04167%;
    z-index: 0;
  }

  /* line 169, ../sass/_tablet.scss */
  .mobile-container td:nth-of-type(2),
  .mobile-container th:nth-of-type(2) {
    width: 100%;
  }

  /* line 174, ../sass/_tablet.scss */
  .mobile-container {
    width: 100%;
    overflow: hidden;
  }

  /* line 179, ../sass/_tablet.scss */
  .mobile-container table {
    width: min-intrinsic;
    margin-bottom: 0;
    position: static;
  }

  /* line 185, ../sass/_tablet.scss */
  .mobile-container th,
  .mobile-container td {
    position: absolute;
    left: -9999px;
  }

  /* line 191, ../sass/_tablet.scss */
  .mobile-container th:first-of-type,
  .mobile-container td:first-of-type,
  .mobile-container th:nth-of-type(2),
  .mobile-container td:nth-of-type(2) {
    position: relative;
    left: auto;
  }

  /* line 199, ../sass/_tablet.scss */
  .modal.small {
    width: 80%;
    min-height: 40%;
  }

  /* @end */
  /* @group ----- Add/Edit views ----- */
  /* line 208, ../sass/_tablet.scss */
  .add fieldset,
  .edit fieldset {
    margin-bottom: 0;
  }

  /* line 213, ../sass/_tablet.scss */
  .add legend,
  .edit legend {
    position: relative;
    left: auto;
    font-size: 24px;
    background-color: #ff6666;
    display: block;
    width: 100%;
    padding: 0.5em 0.375em;
    color: #fff;
    cursor: pointer;
    border-color: rgba(0, 0, 0, 0.08);
    border-bottom-width: 0.0625em;
    border-bottom-style: solid;
    padding-bottom: -0.0625em;
  }

  /* line 228, ../sass/_tablet.scss */
  .add legend:after,
  .edit legend:after {
    content: "\f0da";
    font-family: "FontAwesome";
    position: absolute;
    right: 0.375em;
    top: 0.5em;
  }

  /* line 237, ../sass/_tablet.scss */
  .add .active legend:after,
  .edit .active legend:after {
    content: "\f0d7";
  }

  /* line 242, ../sass/_tablet.scss */
  .add .section,
  .edit .section,
  .add .active.section > *:not(legend),
  .edit .active.section > *:not(legend) {
    display: block;
  }

  /* line 249, ../sass/_tablet.scss */
  .add .section > *:not(legend),
  .edit .section > *:not(legend),
  .add .section .field.template,
  .edit .section .field.template {
    display: none;
  }

  /* line 256, ../sass/_tablet.scss */
  .add .active.section > .button,
  .edit .active.section > .button {
    display: inline-block;
  }

  /* line 261, ../sass/_tablet.scss */
  .section-nav {
    position: absolute;
    left: -9999px;
  }

  /* line 266, ../sass/_tablet.scss */
  .field-meta,
  .inputs {
    width: 100%;
  }

  /* line 271, ../sass/_tablet.scss */
  .field-actions {
    position: absolute;
    top: 0.5625em;
    right: 1.66667%;
    z-index: 1;
    width: 50%;
  }
  /* line 278, ../sass/_tablet.scss */
  .field-actions a {
    float: right;
    display: block;
  }
  /* line 282, ../sass/_tablet.scss */
  .field-actions a.button {
    margin-left: .5em !important;
  }

  /* line 289, ../sass/_tablet.scss */
  .field-meta label,
  .field-description p {
    line-height: 24px;
    margin-bottom: 0.375em;
  }

  /* line 295, ../sass/_tablet.scss */
  .field-meta label {
    font-weight: bold;
  }

  /* line 299, ../sass/_tablet.scss */
  .field-description {
    height: 24px;
    float: none;
    display: inline-block;
    margin-left: .25em;
    position: absolute;
  }

  /* line 307, ../sass/_tablet.scss */
  .unset .field-meta {
    width: 100%;
  }

  /* @end */
  /* @group ----- Minimalist views ----- */
  /* line 314, ../sass/_tablet.scss */
  body.minimal {
    width: 75%;
  }
  /* line 317, ../sass/_tablet.scss */
  body.minimal .logo {
    background-color: transparent;
  }
  /* line 321, ../sass/_tablet.scss */
  body.minimal div[role="main"] > .messages {
    margin-bottom: 1.5em;
  }

  /* @end */
}
@media screen and (max-width: 480px) {
  /* line 1, ../sass/_mobile.scss */
  body {
    padding: 0;
  }

  /* line 5, ../sass/_mobile.scss */
  header {
    width: 100%;
  }

  /* line 9, ../sass/_mobile.scss */
  header,
  #menu.active,
  #current-user.active,
  #search.active {
    left: 0;
    right: 0;
  }

  /* line 17, ../sass/_mobile.scss */
  body.minimal {
    width: 100%;
    margin: 0;
  }
  /* line 21, ../sass/_mobile.scss */
  body.minimal div[role="main"] {
    padding: 1.5em 6.25%;
  }
}

/*# sourceMappingURL=style.css.map */
